<div class="columna">
    <h5 class="option-menu color-accent">PROTECCIÓN DE DATOS PERSONALES:</h5>

    <p class="caption color-accent">
        La entidad responsable del tratamiento de sus datos es D. David Jesus Molina Retuerto -NATIVOS TIERRRA. Los
        datos se tratarán para atender su solicitud, consulta o petición.

        En las condiciones legales, tiene derecho a acceder, rectificar y suprimir los datos, a la limitación de su
        tratamiento, a oponerse al mismo y a su portabilidad.

        Puede ampliar la información sobre el tratamiento de sus datos personales consultando nuestra <a
            [routerLink]="['/privacidad']" target="_blank">Política de Privacidad</a>.
    </p>
</div>