.icono {
    width: 30px;
    height: 30px;

    @media (max-width:730px) {
        width: 20px;
        height: 20px;
    }
}

a {
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    span:nth-child(1){
        @media (max-width:576px){
          /*  display: none;*/
        }

    }

}