<header (scroll)="onScroll()" [ngClass]="headerFixed?'fixed':'nofixed'">

    <div class="container-logo " [ngClass]="headerFixed?'pequena':''">
        <img class="img-logo" [ngClass]="headerFixed?'pequena':''" src="./../../../../assets/images/logo/logo.svg" alt="logo lo alternativo">
    </div>
    <div class="container-nav-content">
        <nav>
            <ul [ngClass]="headerFixed?'fontSizePequena':''">
                <li>
                    <a  class="option-menu" (click)="scroll()" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
                </li>
                <li>
                    <a class="option-menu" (click)="scroll()" [routerLink]="['/nosotros']" [routerLinkActive]="['active']">Nosotros</a>
                </li>
                <li>
                    <a class="option-menu" (click)="scroll()" [routerLink]="['/especialistas']" [routerLinkActive]="['active']">Especialistas</a>
                </li>
                <li>
                    <a class="option-menu" (click)="scroll()" [routerLink]="['/donde']" [routerLinkActive]="['active']">Donde estamos</a>
                </li>
                <li>
                    <a class="option-menu" (click)="scroll()" [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
                </li>
                <li>
                    <a class="option-menu" (click)="scroll()" [routerLink]="['/auth']" [routerLinkActive]="['active']">Zona terapeutas</a>
                </li>
            </ul>

        </nav>
        <div class="container-content"[ngClass]="headerFixed?'sr-only':''">
            <h1 class="title-xxl-accent" >LöAlternativo</h1>
            <h2 class="sub-title-xxl" >Comunidad de terapeutas y eventos</h2>
        </div>
    </div>

</header>
