<header>

    <div class="container-logo">
        <img src="./../../../../assets/images/logo/logo.svg" alt="logo lo alternativo">
    </div>
    <div class="container-nav-content">
        <nav>
            <ul>
                <li>
                    <a  class="option-menu active" href="#">Home</a>
                </li>
                <li>
                    <a class="option-menu" href="#">Nosotros</a>
                </li>
                <li>
                    <a class="option-menu" href="#">Especialistas</a>
                </li>
                <li>
                    <a class="option-menu" href="#">Donde estamos</a>
                </li>
                <li>
                    <a class="option-menu" href="#">Contacto</a>
                </li>
                <li>
                    <a class="option-menu" href="#">Zona terapeutas</a>
                </li>
            </ul>

        </nav>
        <div class="container-content">
            <h1 class="title-xxl-accent">LöAlternativo</h1>
            <h2 class="sub-title-xxl">Comunidad de terapeutas y eventos</h2>
        </div>
    </div>

</header>
