<div class="box-formulario-evento eventos-form">

    <app-form-evento [eventoSeleccionado]="this.tablaEventosService.getEventoSelected()"
                     [eliminando]=true
                     [tipo]="tipo"
                     (formData)="onDelete()"
                     (reset)="onReset()">

    </app-form-evento>
    <app-modal-info 
            (onAceptar)="cerrar()" 
            (onCancelar)="onReset()" 
            [mensaje]="mensaje" 
            [borrar]="true" 
            *ngIf="serviceModal.showDialog">
    </app-modal-info>
  
</div>

