<div id="normal1" class="publicidad">
    <div class="columna">
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>

    </div>
    <div id="premium" class="columna">
        <div class="premium"></div>
        <div class="premium"></div>
        <div class="premium"></div>
    </div>
    <div id="normal2" class="columna">
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
    </div>
</div>

