<div class="columna gap-20" id="nosotros">



    <h3 class="title-xl-primary color-accent center">Nosotros</h3>
    <div class="columna gap-20">


        <div class="fila gap-20">
            <div class="columna gap-20">
                <h4 class="title-l-primary color-accent">Que es LöAlternativo</h4>

            <p class="texto-regular color-accent">Lo alternativo es un portal web,
                desarrollado para publicación y difusión
                de eventos cursos y productos
                relacionados con el crecimiento personal,
                asi como esoterismo, naturopatía, terapia
                energética, corporal, artesanía, alquiler de
                salas, retiros y productos bio, para facilitar
                a las personas que buscan un bienestar
                físico,mental y emocional, un espacio web
                fácil, sencillo, cercano, y activo, mediante
                un amplio directorio de especialistas.
                </p>
            </div>
            
            <img src="./../../../../assets/images/nosotros/esoterismo.jpg" alt="imagen">
        </div>

        <div class="columna gap-20">
            <h4 class="title-l-primary color-accent">Equipo humano</h4>
            <div class="grid-nosotros">
                <div class="columna gap-10">
                    <img src="" alt="">
                    <span class="encabezado color-accent">Judith Retuerto G.</span>
                    <span class="texto-regular color-accent ">COORDINADORA WEB</span>
                </div>
                <div class="columna gap-10">
                    <img src="" alt="">
                    <span class="encabezado color-accent">Francisco Valencia J.</span>
                    <span class="texto-regular color-accent">COLABORADOR WEB</span>
                </div>
                <div class="columna gap-10">
                    <img src="" alt="">
                    <span class="encabezado color-accent">Manuel Fernández E.</span>
                    <span class="texto-regular color-accent">DISEÑADOR WEB</span>
                </div>
                <div class="columna gap-10">
                    <img src="" alt="">
                    <span class="encabezado color-accent">Grupo Para Vivir Alameda MALAGA</span>
                    <span class="texto-regular color-accent">COORDINADOR DE EVENTOS PRESENCIALES</span>
                </div>
            </div>

        </div>

    </div>
</div> 
