<div class="container">
    <h3 class="title-xl-primary color-accent pad-20 center">Suscríbete a nuestra newsletter</h3>



    <div class="box-donde color-accent" id="contacto">

        <form [formGroup]="formNewsletter" (ngSubmit)="onSubmit()">

            <div class="fila gap-20">
                <div class="columna gap-20">
                    <div class="columna gap-10">
                        <label class="encabezado color-accent" for="nombre">Nombre:</label>
                        <div class="columna gap-10">
                            <input type="text" name="nombre" id="" formControlName="nombre" placeholder="Manuel">
                            <span *ngIf="campoValido('nombre') && submitted" class="caption color-red">Introduzca su
                                nombre</span>
                        </div>
                    </div>
                    <div class="columna gap-10">
                        <label class="encabezado color-accent" for="email">Email:</label>
                        <div class="columna gap-10">
                            <input type="email" name="email" formControlName="email" placeholder="tuemail@email.es">
                            <span *ngIf="campoValido('email') && submitted" class="caption color-red">No es un email
                                válido</span>
                        </div>
                    </div>
                    <div class="columna gap-10">
                        <div class="columna">
                            <h5 class="option-menu color-accent">PROTECCIÓN DE DATOS PERSONALES:</h5>

                            <p class="caption color-accent">
                                La entidad responsable del tratamiento de sus datos es D. David Jesus Molina Retuerto
                                -NATIVOS TIERRRA. Los datos se tratarán para atender su solicitud de suscripción a
                                nuestra Newsletter.

                                En las condiciones legales, tiene derecho a acceder, rectificar y suprimir los datos, a
                                la limitación de su tratamiento, a oponerse al mismo y a su portabilidad.

                                Puede ampliar la información sobre el tratamiento de sus datos personales consultando
                                nuestra <a [routerLink]="['/privacidad']" target="_blank">Política de Privacidad</a>.
                            </p>
                        </div>
                        <label class="form-control texto-regular color-accent" for="privacidad">
                            <input type="checkbox" name="privacidad" formControlName="privacidad">
                            He leído y acepto la información sobre el tratamiento de datos personales.
                        </label>
                        <span *ngIf="campoValido('privacidad') && submitted" class="caption color-red">Debe aceptar la
                            política de privacidad</span>
                        <label class="form-control texto-regular color-accent" for="info_comercial">
                            <input type="checkbox" name="info_comercial" formControlName="info_comercial">
                            Marque si también desea recibir otro tipo de información comercial de nuestros productos o servicios. 
                        </label>

                    </div>
                </div>
                <div class="columna gap-20 end">
                    <button class="boton btn-login end" type="submit">Enviar</button>
                </div>

            </div>
        </form>


    </div>

</div>