<app-header-no-menu>

</app-header-no-menu>

<div class="columna wrp-planes">
    <h3 class="title-l-primary">Planes de precios</h3>

    <div class="columna">
        <h5 class="title-l-primary">Promociones</h5>
        <span class="texto-regular"><strong>Prueba gratis nuestros planes por 30 dias</strong></span>
    </div>

    <div class="fila wrapper-planes">

        <div class="columna plan-plata">
            <h4 class="title-l-primary">Plata-Solo directorio</h4>
            <span class="encabezado">6,99 €/mes</span>
            <ul>
                <li>
                    <span class="texto-regular ">Pertenencia al directorio</span>
                </li>
                <li>
                    <del><span class="texto-regular "><strong>Difusión</strong> de tu evento servicio en la web y
                            revista</span> </del>
                </li>

                <li>
                    <del><span class="texto-regular "><strong>Participar en canal You tube NativosTierra</strong> para
                            dar a conocer tu especialidad</span></del>
                </li>
                <li>
                    <del><span class="texto-regular "><strong>Difusión</strong> de tus eventos a traves de
                            <strong>nuestra newsletter</strong></span> </del>
                </li>
                <li>
                    <del><span class="texto-regular "><strong>Posibildad de vender</strong> tus eventos a traves de
                            <strong>nuestra plataforma</strong></span> </del>
                </li>
            </ul>
            <button [disabled]="compraIniciada" class="boton btn-registro" (click)="seleccionPlan(1)" >Registrarse</button>
        </div>
        <div class="columna plan-oro">
            <h4 class="title-l-primary">Oro-Acceso completo mejorado</h4>

            <span class="encabezado">39,90 €/mes</span>

            <ul>
                <li>
                    <span class="texto-regular ">Pertenencia al directorio</span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Difusión</strong> de tu evento servicio en la web y
                        revista</span>
                </li>

                <li>
                    <span class="texto-regular "><strong>Participar en canal You tube NativosTierra</strong> para dar a
                        conocer tu especialidad</span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Posibildad de vender</strong> tus eventos a traves de
                        <strong>nuestra plataforma</strong> con una comisión del <strong>5%</strong></span>
                </li>
            </ul>
            <button [disabled]="compraIniciada" class="boton btn-registro" (click)="seleccionPlan(2)">Registrarse</button>
        </div>
        <div class="columna plan-platino">
            <h4 class="title-l-primary">Platino-Acceso completo</h4>

            <span class="encabezado">19,90 €/mes</span>

            <ul>
                <li>
                    <span class="texto-regular ">Pertenencia al directorio</span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Difusión</strong> de tu evento servicio en la web y
                        revista</span>
                </li>

                <li>
                    <span class="texto-regular "><strong>Participar en canal You tube NativosTierra</strong> para dar a
                        conocer tu especialidad</span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Posibildad de vender</strong> tus eventos a traves de
                        <strong>nuestra plataforma</strong> con una comisión del <strong>10%</strong></span>
                </li>
            </ul>
            <button [disabled]="compraIniciada" class="boton btn-registro" (click)="seleccionPlan(3)">Registrarse</button>
        </div>

    </div>

    



</div>