<app-header></app-header>

<h3 class="title-xl-primary color-accent pad-20 center">Nosotros</h3>
<div class="box-nosotros">


    <div class="row-nosotros">

        <p class="texto-regular color-accent">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis eaque
            dolor molestiae facere amet magnam
            accusamus quia rem eos voluptatibus, fugiat soluta assumenda? Pariatur voluptate totam maxime consectetur
            blanditiis numquam.</p>
        <img src="./../../../../assets/images/nosotros/esoterismo.jpg" alt="imagen">
    </div>
    <div class="row-nosotros color-accent">
        <img src="./../../../../assets/images/nosotros/Naturopatia.jpg" alt="imagen">
        <p class="texto-regular">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis eaque dolor
            molestiae facere amet magnam
            accusamus quia rem eos voluptatibus, fugiat soluta assumenda? Pariatur voluptate totam maxime consectetur
            blanditiis numquam.</p>
    </div>
    <div class="row-nosotros color-accent">

        <p class="texto-regular">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis eaque dolor
            molestiae facere amet magnam
            accusamus quia rem eos voluptatibus, fugiat soluta assumenda? Pariatur voluptate totam maxime consectetur
            blanditiis numquam.</p>
        <img src="./../../../../assets/images/nosotros/Terapias corporales.jpg" alt="imagen">
    </div>

</div>
<app-boton-plantilla></app-boton-plantilla>



<app-footer></app-footer>