<div class="columna gap-10">
    <div class="fila gap-10">
        <span class="encabezado color-accent">{{infoDireccion.title}}</span>
        <span class="accent-color"><img src="{{infoDireccion.icono}}" alt="" width="24px" height="24px">
            
        </span>
    </div>
    <span class="texto-regular color-accent">{{infoDireccion.direccion}}</span>
    <span class="texto-regular color-accent">{{infoDireccion.localidad}}</span>
    <div class="fila gap-10">        
        <span class="texto-regular color-accent">{{infoDireccion.codigo_postal}}</span>
        <span class="texto-regular color-accent">{{infoDireccion.provincia}}</span>
    </div>
    
</div>

