.wrapper-form{
    width: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [end]  ;
    
    grid-template-rows: auto;
    gap: 20px;
    place-items: center;
    .columna{
        width: 100%;
    }    

}

form{
    padding: 0px 200px 200px 200px;
}

input{
    border-color: black;
    width: 100%;
    
}

input[type="checkbox"]{
    width: 20%;
    
}
.w-online{
    align-self: flex-end;
    grid-column-start: col8;
    grid-column-end: end;
}


.box-formulario-evento{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 100%;
 
}
.evento{
    grid-column-start: first;
    grid-column-end: col5;
}
.fecha{
    grid-column-start: col5;
    grid-column-end: col8;
}
.precio {    
    grid-column-start: col8;
    grid-column-end: col8;

   /* div{
        input{
            width: 50%;
        }
    }*/
    
}

.email{
    grid-column-start: first;
    grid-column-end: col3;
}
.web{
    grid-column-start: col3;
    grid-column-end: col6;
}
.telefono{
    grid-column-start: col6;
    grid-column-end: col8;
}
.online{
    display: flex;
    align-items: center;
    grid-column-start: end;
    grid-column-end: end;
}

.direccion{
    grid-column-start: first;
    grid-column-end: col4;
}
.poblacion{
    grid-column-start: col4;
    grid-column-end: col6;
}
.provincia{
    grid-column-start: col6;
    grid-column-end: col8;
}
.c-postal{
    grid-column-start: col8;
    grid-column-end: col8;
}

.descripcion{
    grid-column-start: first;
    grid-column-end: col5;
}

.img-input{
    grid-column-start: col3;
    grid-column-end: col7;
}

.img-evento{    
    border: 2px solid black;
    border-radius: 4px;
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
    grid-column-start: first;
    grid-column-end: col2;  
    place-items: start;  
    img{
        aspect-ratio: 1;
        width: 100%;
        min-height: 100%;
        object-fit: contain;

        
    }
}
.pdf{
    grid-column-start: col5;
    grid-column-end: end;
}

.botones{
    display: flex;  
    justify-content: flex-end;
   
}
textarea{
    border-color: black;
    width: 100%;
}

