<div class="columna wrp-planes">
    <h3 class="title-l-primary">Planes de precios</h3>
    <div class="fila wrapper-planes">
        <div class="columna plan-plata">
            <h4 class="title-l-primary">Plata</h4>
            <span class="encabezado">Gratis</span>
            <ul>
                <li>
                    <span class="texto-regular ">Pertenencia al directorio</span>
                </li>
                <li>
                    <del><span class="texto-regular "><strong>Diseño</strong> de tu post publicitario</span> </del>
                </li>
                <li>
                    <del> <span class="texto-regular "><strong>Promoción</strong> de tu evento o servicio en nuestro
                            portal durante <strong> 15 días</strong></span> </del>
                </li>
                <li>
                    <del><span class="texto-regular "><strong>Compartir</strong> tus eventos o servicios en nuestras
                            <strong>redes sociales</strong></span> </del>
                </li>
                <li>
                    <del><span class="texto-regular "><strong>Promoción</strong> de tu terapia a través de un
                            <strong>zoom de 60 minutos</strong> para compartir en nuestro canal</span> </del>
                </li>
            </ul>
            <button class="boton btn-registro">Registrarse</button>
        </div>

        <div class="columna plan-oro">
            <h4 class="title-l-primary">Oro</h4>
            
            <span class="encabezado">Gratis*</span>

            <ul>
                <li>
                    <span class="texto-regular ">Pertenencia al directorio</span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Diseño</strong> de tu post publicitario</span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Promoción</strong> de tu evento o servicio en nuestro
                        portal
                        durante <strong> 15 días</strong></span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Compartir</strong> tus eventos o servicios en nuestras
                        <strong>redes sociales</strong></span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Promoción</strong> de tu terapia a través de un
                        <strong>zoom de
                            60 minutos</strong> para compartir en nuestro canal</span>
                </li>
            </ul>
            <button class="boton btn-registro">Registrarse</button>
            <span class="caption color-accent">*promoción válida por tiempo limitado</span>
        </div>







    </div>


</div>