<div class="columna wrp-planes">
    <h3 class="title-l-primary">Planes de precios</h3>
    <div class="fila wrapper-planes">
        
        <div class="columna plan-plata">
            <h4 class="title-l-primary">Plata</h4>
            <span class="encabezado">Gratis</span>
            <ul>
                <li>
                    <span class="texto-regular ">Pertenencia al directorio</span>
                </li>
                <li>
                    <del><span class="texto-regular "><strong>Difusión</strong> de tu evento servicio en la web y
                            revista</span> </del>
                </li>

                <li>
                    <del><span class="texto-regular "><strong>Participar en canal You tube LöAlternativo</strong> para
                            dar a conocer tu especialidad</span></del>
                </li>
                <li>
                    <del><span class="texto-regular "><strong>Difusión</strong> de tus eventos a traves de
                            <strong>nuestra newsletter</strong></span> </del>
                </li>
            </ul>
    <!--        <button class="boton btn-registro" (click)="onClickPlata()">Registrarse</button>-->
        </div>
    
        <div class="columna plan-oro">
            <h4 class="title-l-primary">Oro</h4>

            <span class="encabezado">39,90 €/mes</span>

            <ul>
                <li>
                    <span class="texto-regular ">Pertenencia al directorio</span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Difusión</strong> de tu evento servicio en la web y
                        revista</span>
                </li>

                <li>
                    <span class="texto-regular "><strong>Participar en canal You tube LöAlternativo</strong> para dar a
                        conocer tu especialidad</span>
                </li>
                <li>
                    <span class="texto-regular "><strong>Difusión</strong> de tus eventos a traves de <strong>nuestra
                            newsletter</strong></span>
                </li>
            </ul>
            <button class="boton btn-registro" [disabled]="compraIniciada" (click)="onClickOro()">Registrarse</button>
    <div class="columna">
        <h5 class="title-l-primary">Promociones</h5>
        <span class="texto-regular"><strong>Gratis</strong> hasta el <strong>31/05/2023</strong></span>
        <span class="texto-regular"><strong>50% de descuento</strong> a partir del <strong>01/06/2023</strong> hasta
            el <strong>31/12/2023</strong>
        </span>
    </div>
        </div>

    </div>



</div>