<div class="columna end gap-10">
    <span class="texto-regular color-accent">
        Suscríbete a nuestra newsletter
    </span>

    <form [formGroup]="formNewsLetter" (ngSubmit)="onSubmit()">
        <div class="fila end gap-10">

            <div class="columna gap-5">
                <input type="email" name="email" id="email" placeholder="tuemail@email.com" formControlName="email">
                <span *ngIf="email && submitted" class="caption color-red">No es un email válido</span>
            </div>
            <button class="boton btn_news" type="submit">ok</button>

        </div>




    </form>


</div>