<div class="columna gap-20 principal">

    <div class="columna gap-10">
        <div>
            <span class="option-menu">Eventos</span>
        </div>
        <div class="columna">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['mis-eventos']" [routerLinkActive]="['active']" class="texto-regular" (click)="desactivarSelected()">Mis eventos</a>
                    </li>
                    <li>
                        <a [routerLink]="['publicar']" [routerLinkActive]="['active']" class="texto-regular" (click)="desactivarSelected()">Publicar evento</a>
                    </li>
                    <li>
                        <a [ngClass]="habilitar()" [routerLink]="['modificar']" [routerLinkActive]="['active']" class="texto-regular">Modificar evento</a>
                    </li>
                    <li>
                        <a [ngClass]="habilitar()" [routerLink]="['eliminar']" [routerLinkActive]="['active']" class="texto-regular">Eliminar evento</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <div class="columna gap-10">
        <div>
            <span class="option-menu">Datos</span>
        </div>
        <div class="columna">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['datos']" [routerLinkActive]="['active']" class="texto-regular">Modificar datos</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>