<div class="container">

    <app-header></app-header>
    
    <h3 class="title-xl-primary color-accent pad-20 center">Eventos {{especialidad.nombre | lowercase}}</h3>    
    <div class="wrapper-eventos">
        <div class="contenedor-eventos">
            <ng-container *ngFor="let e of eventos">
                <app-evento [evento]="e" (onEvento)="eventoSeleccionado($event)"></app-evento>
            </ng-container>
    
    
        </div>
    </div>
    
    <app-modal-evento *ngIf="serviceModalEventoService.showDialog" [evento]="eventoAMostrar"></app-modal-evento>

    <app-footer></app-footer><app-boton-plantilla></app-boton-plantilla>

</div>
