<div class="publicidad">
    <div class="columna">
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>

    </div>
    <div class="columna">
        <div class="premium"></div>
        <div class="premium"></div>
        <div class="premium"></div>
    </div>
    <div class="columna">
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
        <div class="normal"></div>
    </div>
</div>
