<div class="box-filtro">
    <div class="fila">
        <div class="columna texto-regular color-accent gap-10">
            <div class="columna">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="" [(ngModel)]="nombre">
            </div>
            <div class="columna">
                <label for="Provincia">Provincia:</label>
                <input type="text" name="provincia" id="" [(ngModel)]="provincia">
            </div>
        </div>
        <div class="fila botonera">
            <button class="boton" (click)="onClickBuscar()">
                <span>
                    <img src="./../../../../assets/images/icons-svg/magnifying-glass-solid.svg" alt="buscar" width="20px">
                </span>
            </button>
            <button class="boton" (click)="reset()">
                <span>
                    <img src="./../../../../assets/images/icons-svg/trash-solid.svg" alt="buscar" width="20px">
                </span>
            </button>
        </div>
        
    </div>
    
</div>


