.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    position: relative;
}

.box-modal{
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 6px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 260px;
    height: 200px;
    background-color: #f0f0f0;
    h4{
        text-align: center;
    }
    @media (max-width:576px) {
        width: 80%;
        height: 200px;
    }
}