<app-header-no-menu></app-header-no-menu>
<div class="container">
    <div class="content-proteccion-datos">
        <h4 class="title-l-primary color-accent pad-20 center">CONDICIONES DE USO Y REGISTRO DE ESPECIALISTAS</h4>
        <p class="texto-regular color-accent pad-20 bold">
            1.- Objeto.-
        </p>
        <p class="texto-regular color-accent pad-20">
            1.1 El presente clausulado (en adelante, Condiciones) incluye las reglas y normas a las que quedan sometidas
            todos los profesionales y personas jurídicas (en adelante, Especialistas) que utilicen las funcionalidades
            (en adelante, Servicios) y contenidos (en adelante, Contenidos) que ofrece esta página Web (en adelante, el
            Portal) en el ámbito de su actividad comercial, empresarial, oficio o profesión.

        </p>
        <p class="texto-regular color-accent pad-20">
            No obstante, el acceso y/o la utilización de ciertos Contenidos o Servicios puede encontrarse sometido a
            condiciones o reglas de uso especiales que, según los casos, pueden sustituir, completar o modificar las
            presentes Condiciones. Si existiese contradicción entre estas Condiciones y las condiciones o reglas de uso
            especiales, tendrán aplicación preferente estas últimas.

        </p>
        <p class="texto-regular color-accent pad-20">
            En todo caso, las presentes Condiciones se complementan con las previsiones contenidas en el Aviso legal y
            la Política de Privacidad existentes en esta página Web, que son de aplicación a todo el Portal.

        </p>
        <p class="texto-regular color-accent pad-20">
            1.2 Las presentes Condiciones y cualesquiera otras contenidas en este Portal podrán ser modificadas o
            sustituidas en cualquier momento. Las nuevas Condiciones sustituirán, completarán o modificarán las actuales
            desde el mismo momento en que se encuentren a disposición del Especialista en este Portal o por cualquier
            otro medio. Para evitar que el Especialista pueda creer de modo erróneo que se encuentra sometido a
            condiciones de uso ya sustituidas o modificadas, se recomienda que lea periódicamente las presentes
            Condiciones.

        </p>
        <p class="texto-regular color-accent pad-20">
        <p class="texto-regular color-accent pad-20">
            1.3 Los Contenidos y Servicios ofrecidos a través de este Portal para los Especialistas están destinados a
            su uso exclusivamente por personas físicas o jurídicas con un propósito relacionado con su actividad
            comercial, empresarial, oficio o profesión. Queda prohibido el registro, acceso y uso del Portal, en calidad
            de Especialistas, a las personas físicas que actúen con un propósito ajeno a su actividad comercial,
            empresarial, oficio o profesión (consumidores o usuarios) y a las personas jurídicas y las entidades sin
            personalidad jurídica que actúen sin ánimo de lucro en un ámbito ajeno a una actividad comercial o
            empresarial.

        </p>
        <p class="texto-regular color-accent pad-20">
            1.4 Los Contenidos y Servicios ofrecidos a través de este Portal están destinados a su uso por personas
            mayores de edad. Queda prohibido el registro, acceso y uso del Portal a los menores de edad.

        </p>
        <p class="texto-regular color-accent pad-20 bold">
            2.- Aceptación.-

        </p>
        <p class="texto-regular color-accent pad-20">
            2.1 La mera utilización o acceso a cualquiera de los Contenidos o Servicios ofrecidos en el Portal, en
            calidad de Especialista, implica la aceptación absoluta y sin reservas por este de las Condiciones vigentes
            en ese momento, del Aviso Legal, de la Política de Privacidad y, en su caso, del resto de condiciones
            particulares que pudieran resultar de aplicación. Si el Especialista decide no aceptar cualquiera de las
            referidas normas o manifiesta algún tipo de reserva, debe abstenerse de acceder a los Contenidos o utilizar
            los Servicios del Portal.

        </p>
        <p class="texto-regular color-accent pad-20 bold">
            4.- Condiciones de Registro
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            a) Condiciones de registro para todos los Especialistas
        </p>
        <p class="texto-regular color-accent pad-20">
            4.a).1 El acceso los Contenidos y la utilización de los Servicios ofrecidos a través de este Portal exigirá
            el previo registro del Especialista. Para ello, el Especialista deberá cumplimentar el formulario que se
            ponga a su disposición a través del Portal en cada caso.

        </p>
        <p class="texto-regular color-accent pad-20">
            La información que el Especialista proporcione durante el proceso de registro debe ser exacta, veraz y
            actualizada. El Especialista será el único responsable de las consecuencias derivadas de que cualquier
            información facilitada por él fuese inexacta, incompleta o falsa. Si el Portal comprobase que se han
            producido estas circunstancias, la cuenta del Especialista podrá ser cancelada.

        </p>
        <p class="texto-regular color-accent pad-20">
            4.a).2 El registro del Especialista requerirá que este seleccione un identificador y le será asignada una
            contraseña personal y confidencial. No podrán utilizarse un identificador ya registrado. El Especialista
            recibirá su contraseña de acceso y la activación de su cuenta una vez que haya completado el proceso de
            registro, pudiendo cambiar posteriormente la clave él mismo si lo desea.

        </p>
        <p class="texto-regular color-accent pad-20">
            El Especialista no podrá utilizar como identificador el nombre, apellidos o apodo de terceras personas
            físicas, la denominación de personas jurídicas o palabras insultantes o malsonantes

        </p>
        <p class="texto-regular color-accent pad-20">
            4.a).3 Cada persona física podrá hacer un único registro de Especialista. El Portal podrá controlar las
            direcciones IP de los Especialistas con la finalidad de evitar que algunas personas puedan ampararse en
            varios Especialistas distintos para llevar a cabo abusos o incumplimientos de las presentes condiciones.
        </p>
        <p class="texto-regular color-accent pad-20">
            4.a).4 El identificador y la contraseña son personales, confidenciales e intransferibles. El Especialista
            deberá, bajo su exclusiva responsabilidad, mantenerlos en secreto, custodiarlos diligentemente y no
            revelarlos a tercero, comunicando al Portal la pérdida o sospecha de pérdida de dicha confidencialidad y
            cualquier acceso a su cuenta por terceros no autorizados.

        </p>
        <p class="texto-regular color-accent pad-20">
            4.a).5 Aquellas cuentas que permanezcan sin utilizar durante un periodo de tiempo largo podrán ser
            canceladas unilateralmente por el Portal. Además, la cuenta podrá ser desactivada por el propio
            Especialista.

        </p>
        <p class="texto-regular color-accent pad-20 bold">
            b) Condiciones de registro Especialistas PLATA

        </p>
        <p class="texto-regular color-accent pad-20">
            4.b).1 Todos los especialistas por el mero hecho de registrase obtendrán el estatus de “Especialistas
            PLATA”, de forma gratuita, y tendrán derecho a recibir los Servicios o acceder a los contenidos que se
            describen en el epígrafe 4.b “Servicios ofrecidos a todos los Especialistas” de las presentes condiciones.

        </p>
        <p class="texto-regular color-accent pad-20 bold">
            C) Condiciones de registro Especialistas ORO
        </p>

        <p class="texto-regular color-accent pad-20">
            4.c).1 Todos los especialistas que los deseen podrán elevar su condición de especialista en el Portal y
            suscribirse a la figura de “Especialista ORO”, mediante el abono de la cuota correspondiente, y tendrán
            derecho a los servicios que se describen el epígrafe 4.b “Servicios ofrecidos a todos los Especialistas ORO”
            de las presentes condiciones.

        </p>
        <p class="texto-regular color-accent pad-20">
            4.c).2 El importe de la suscripción a “Especialista ORO” será el publicado en este Portal en cada momento e
            incluirá el IVA aplicable. El referido precio de la suscripción podrá estar sujetos a ofertas o promociones.
            El Portal se reserva el derecho de modificar en cualquier momento el precio de las suscripciones que figuran
            en este Portal, pero el Especialista deberá abonar el precio de la suscripción en base a la tarifa en vigor
            en el momento en el que registró la misma.

        </p>
        <p class="texto-regular color-accent pad-20">
            4.c).3 La forma de pago de la cuota correspondiente a la suscripción de “Especialista ORO”, se realizará, a
            elección del Especialista, mediante alguna de los siguientes medios de pago: 

        </p>
        <ul>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Tarjetas de crédito/débito. Mediante uso de pasarela de pago seguro.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Por cuenta PayPal del Especialista.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Transferencia bancaria.

                </p>
            </li>
        </ul>


        <p class="texto-regular color-accent pad-20">
            En el caso de pago con tarjetas de crédito/débito, el cargo en la misma se realizará en tiempo real, a
            través de la pasarela de pago de la entidad financiera correspondiente y una vez se haya comprobado que los
            datos comunicados son correctos. Las tarjetas de crédito, además, estarán sujetas a las comprobaciones y
            autorizaciones pertinentes por parte de la entidad emisora de las mismas. 

        </p>
        <p class="texto-regular color-accent pad-20">
            Las transferencias bancarias deberán ser realizadas al número de cuenta que será comunicado al Especialista
            por en la pasarela de pago del Portal. No se facilitará acceso a los Servicios y Contenidos, en calidad de
            “Especialista ORO”, hasta que el importe total de la suscripción quede reflejado en la cuenta bancaria del
            Portal, que haya sido indicada al Especialista. Las suscripciones que los “Especialista ORO” que hayan
            elegido esta modalidad de pago quedarán reservadas durante un periodo máximo de 3 días laborables, como
            “pendiente de pago”. Trascurrido dicho periodo, sin que el Portal haya recibido la trasferencia bancaria
            correspondiente, la suscripción quedará anulada.

        </p>
        <p class="texto-regular color-accent pad-20">
            4.c).4 La suscripción de “Especialista ORO” tendrá una duración de un año, considerándose prorrogada por
            plazos consecutivos anuales, salvo que alguna de las partes manifieste, con una antelación de, al menos, dos
            meses, su voluntad de no renovarlo.

        </p>
        <p class="texto-regular color-accent pad-20 bold">
            5.- Servicios ofrecidos por el Portal
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            a) Servicios ofrecidos a todos los Especialistas

        </p>
        <p class="texto-regular color-accent pad-20">
            5.a).1 Todos los especialistas por el mero hecho de registrase obtendrán el estatus de “Especialistas PLATA”
            y podrán tener acceso, entre otros, a los siguientes Contenidos y Servicios:

        </p>
        <ul>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Espacio específico en el directorio del Portal donde podrá publicar sus servicios y datos de
                    contacto.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Acceso a información general, eventos y noticias sobre temas relacionados con la temática principal
                    del Portal.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Cualquier otro Contenido o Servicio que, en cada momento, el Portal ponga a disposición de los
                    “Especialistas PLATA”.

                </p>
            </li>
        </ul>

        <p class="texto-regular color-accent pad-20">
            5.a).2 Se advierte a todos los Especialistas que, en cualquier momento, sin previo aviso, podrá modificarse
            la presentación y configuración del Portal y de los Contenidos y Servicios que se ofrecen a través de él,
            así como interrumpirlos o cancelarlos.

        </p>
        <p class="texto-regular color-accent pad-20 bold">
            b) Servicios ofrecidos a los Especialistas ORO

        </p>
        <p class="texto-regular color-accent pad-20">
            5.b).1 Todos los especialistas que los deseen podrán registrase como “Especialistas ORO”, mediante el abono
            de la cuota correspondiente, y podrán tener acceso, entre otros, a los siguientes Contenidos y Servicios:

        </p>
        <ul>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Todos los servicios detallados en el epígrafe anterior para los Especialistas PLATA.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    La publicación de contenidos y servicios propios del Portal.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Cualquier otro Contenido o Servicio que, en cada momento, el Portal ponga a disposición de los
                    “Especialistas ORO”.

                </p>
            </li>
        </ul>
        <p class="texto-regular color-accent pad-20">
            5.b).1 Se advierte, además, a los Especialistas ORO pese a que el Portal hace todos los esfuerzos que son
            razonables para que los Contenidos y Servicios ofrecidos se encuentren disponibles permanentemente, este
            debe tener en cuenta que pueden existir interrupciones o limitaciones de acceso o uso derivadas de hechos
            accidentales e imprevistos o de la realización de acciones necesarias para llevar a cabo operaciones de
            mejora, mantenimiento o análogas.

        </p>
        <p class="texto-regular color-accent pad-20 bold">
            6.- Condiciones de uso. –
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            a).- Condiciones de uso del Portal para todos los Especialistas. –

        </p>
        <p class="texto-regular color-accent pad-20">
            6.a).1 Los Contenidos y Servicios ofrecidos a través de este Portal deben ser utilizados de conformidad con
            lo previsto en las presentes Condiciones y en el Aviso Legal, siendo el Especialista el único responsable de
            su incumplimiento.

        </p>
        <p class="texto-regular color-accent pad-20">
            En concreto, el Especialista quedará sometido a las siguientes normas:

        </p>
        <ul>
            <li>
                <p class="texto-regular color-accent pad-20">
                    El uso del Portal se realizará únicamente para el desempeño de actividades empresariales o
                    lucrativas, sin que pueda utilizarse con un propósito ajeno a una actividad comercial, empresarial,
                    oficio o profesión (consumidores o usuarios) y a las personas jurídicas y las entidades sin
                    personalidad jurídica que actúen sin ánimo de lucro en un ámbito ajeno a una actividad comercial o
                    empresarial.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    El Especialista deberá actuar sin falsear su identidad o suplantar la de un tercero. Los
                    Especialistas deberán incluir en el espacio específico en el directorio del Portal destinado a
                    publicar sus servicios y datos de contacto, información veraz y fidedigna. En caso de que se
                    faciliten datos de terceras personas, el Especialista deberá haber contado con su consentimiento
                    expreso y asume la responsabilidad de informarles previamente de todo lo previsto en el artículo 14
                    del Reglamento General de Protección de Datos en las condiciones establecidas en dicho precepto.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Los Especialistas deberán incluir en el espacio específico en el directorio del Portal destinado a
                    publicitar sus servicios y publicar sus datos de contacto, imágenes que cuenten con las licencias
                    oportunas y respeten los derechos de propiedad intelectual, industrial o análogos.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    No se podrán realizar actividades que resulten contrarias a la Ley, la moral, el orden público o las
                    buenas costumbres generalmente aceptadas.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Sólo podrá accederse a los servicios a través de la Interfaz puesta a disposición del Especialista
                    por este Portal. Queda prohibido el acceso por medios distintos.
                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    Queda prohibida la difusión o gestión de contenidos que porten códigos maliciosos u otros programas
                    informáticos que puedan interrumpir, destruir o dañar el funcionamiento de cualquier aplicación,
                    equipo informático o sistema de telecomunicaciones.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    El Especialista no podrá realizar actividades que dañen, deterioren o inutilicen el Portal, sus
                    Contenidos o Servicios y los equipos, sistemas y redes que les dan soporte, ni acceder o intentar
                    acceder indebidamente a aquellos apartados a los que no tenga acceso, ni interrumpir, interceptar,
                    manipular o perjudicar el uso de los servicios por otros Especialistas.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    El Especialista no podrá modificar, eliminar o manipular los símbolos existentes en el Portal que
                    reflejen derechos de propiedad intelectual o industrial del Portal o de terceros ni los dispositivos
                    técnicos establecidos para la identificación o protección de contenidos ni alterar, retirar o
                    manipular estos en modo alguno.

                </p>
        </ul>
        <p class="texto-regular color-accent pad-20 bold">
            b).- Condiciones de las relaciones comerciales derivadas del uso del Portal para todos los Especialistas. -

        </p>
        <p class="texto-regular color-accent pad-20">
            6.b).1 El Servicios y Contenidos del presente Portal tienen como finalidad dar visibilidad y que los
            Usuarios conozcan a una comunidad de Especialistas dedicada al Esoterismo, Naturopatía, Crecimiento
            personal, Terapías Corporales, Terapías Energéticas, Productos Bío, Artesanía, Alquiler de Salas y Retiros,
            Terapías Holísticas y cualquier otra materia que el Portal considere adecuada. Los Especialistas prestarán
            sus servicios a los Usuarios interesados que contacten con estos, sin ninguna intervención del Portal.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            En concreto, el Especialista quedará sometido a normas generales de calidad y honestidad empresarial, siendo
            el Especialista el único responsable de su incumplimiento.
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            c).- Reglas comunes. -

        </p>
        <p class="texto-regular color-accent pad-20">
            6.c) En cualquier momento, el Portal podrá suspender o bloquear el acceso a los Contenidos o Servicios o
            bloquear la cuenta de aquellos Especialistas que incumplan las presentes Condiciones o las establecidas en
            el Aviso Legal sin necesidad de advertencia previa y sin que el Portal asuma responsabilidad alguna por
            dicha decisión, ni ante el interesado ni ante terceros.

        </p>
        <p class="texto-regular color-accent pad-20">
            Cualquier Especialista podrá denunciar una infracción de las presentes Condiciones a NATIVOS TIERRA en la
            siguiente dirección de e-mail: portalnativostierra@gmail.com. No obstante, NATIVOS TIERRA no estará obligado
            a atender dicha reclamación si estima que la vulneración de las Condiciones de uso no se ha producido o que,
            habiéndose producido, está excepcionalmente justificada por las circunstancias del caso concreto.

        </p>
        <p class="texto-regular color-accent pad-20 bold">
            7.- Responsabilidades.-

        </p>
        <p class="texto-regular color-accent pad-20">
            7.1 El Especialista reconoce que el uso del Portal y de sus servicios se desarrolla bajo su exclusiva
            responsabilidad. En concreto, sin perjuicio de lo indicado en otros apartados de las presentes Condiciones,
            a título meramente enunciativo, el Portal no asume ninguna responsabilidad en los siguientes ámbitos:
        </p>

        <ul>
            <li>
                <p class="texto-regular color-accent pad-20">
                    La disponibilidad en el funcionamiento del Portal, de los Servicios y Contenidos ofrecidos a través
                    de aquel o la calidad o interoperabilidad de los mismos.
                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    La finalidad para la que el Portal sirva a los objetivos del Especialista.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    La infracción de la legislación vigente por parte del Especialista o terceros y, en concreto, de los
                    derechos de propiedad intelectual o industrial que sean titularidad de otras personas o entidades.
                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    La existencia de códigos maliciosos que pudieran causar daños al sistema informático del
                    Especialista o de terceros.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    El acceso fraudulento a los Contenidos o Servicios por terceros no autorizados. o, en su caso, la
                    interceptación, eliminación, alteración, modificación o manipulación de los mensajes y
                    comunicaciones de cualquier clase que dichos terceros pudieran realizar.
                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    La exactitud, veracidad, actualidad y utilidad de los Contenidos ofrecidos y la utilización
                    posterior que de ellos haga el Especialista.
                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20">
                    La falta de honestidad y/o calidad en la prestación de los servicios a los Usuarios del Portal.

                </p>
            </li>
        </ul>

        <p class="texto-regular color-accent pad-20">

            7.2 El portal no tiene un deber de controlar la utilización que hagan los Especialistas de los Servicios, su
            identidad o la exactitud o veracidad de los datos o informaciones que faciliten. El modo de utilización de
            los Contenidos y Servicios y la información que se publique o transmita a través de estos es de la exclusiva
            responsabilidad del Especialista, quien asume el deber de indemnizar los daños que produzca al Portal, a
            otros Especialistas o a terceros, incluidos los honorarios de abogados y procuradores, o de otros
            profesionales, derivados de cualquier reclamación, judicial o extrajudicial, por el incumplimiento de las
            Condiciones establecidas en este documento, en el Aviso Legal y en la Política de Privacidad del Portal.

        </p>
        <p class="texto-regular color-accent pad-20">

            7.3 El Portal podrá disponer de los medios técnicos oportunos para controlar que no se produzca la difusión
            de contenidos ilegales, que lesionan los bienes o derechos de un tercero o vulneren estas Condiciones o el
            Aviso Legal.
        </p>

        <p class="texto-regular color-accent pad-20">

            7.4 En ningún caso el Portal será responsable de los daños o perjuicios que se deriven de circunstancias
            acaecidas por caso fortuito o fuerza mayor.
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            8.- Tratamiento de datos de carácter personal
        </p>
        <p class="texto-regular color-accent pad-20">
            8.1. La suscripción de los Especialistas y la utilización de algunos de los Servicios o el acceso a ciertos
            Contenidos ofrecidos a través del Portal implicará la necesidad de que este facilite datos de carácter
            personal.
        </p>
        <p class="texto-regular color-accent pad-20">
            8.2. Informamos a los Especialista que la entidad responsable del tratamiento de sus datos es el Portal,
            cuyos datos identificativos y de contacto se encuentran en el Aviso Legal y en la Política de Privacidad
            publicadas en el mismo. Los datos se tratarán para formalizar su proceso de registro, gestionar su pago y
            facturación, y prestarle el acceso a los Servicios y Contenidos descritos en las presentes Condiciones. En
            las condiciones legales, tiene derecho a acceder, rectificar y suprimir los datos, a la limitación de su
            tratamiento, a oponerse al mismo y a su portabilidad. Puede ampliar la información sobre el tratamiento de
            sus datos personales consultando la Política de Privacidad del Portal.
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            8.- Propiedad intelectual e industrial
        </p>
        <p class="texto-regular color-accent pad-20">
            Sin perjuicio de las reglas contenidas a este respecto en el Aviso legal, en este ámbito serán de aplicación
            las
            siguientes:
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            a) Con respecto a los Contenidos facilitados por los Especialistas
        </p>
        <p class="texto-regular color-accent pad-20">
            8.a).1 Salvo que otra cosa se hubiese pactado en el caso concreto, el hecho de que el Especialista facilite
            un contenido a través del Portal implicará la concesión al Portal de una licencia gratuita, no exclusiva,
            sin límite temporal y mundial para reproducir, publicar, comunicar públicamente, transmitir, en todo o en
            parte, dicho contenido en cualquier forma o a través de cualquier medio o tecnología. Esta licencia caducará
            en el momento en que el Especialista elimine voluntariamente el Contenido del Servicio.
        </p>
        <p class="texto-regular color-accent pad-20">
            8.a).2 El único responsable de que los referidos Contenidos no resulten contrarios a la Ley o perjudiquen
            derechos o intereses de NATIVOS TIERRA o terceros será el Especialista, quien mantendrá indemnes a los
            perjudicados.
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            b) Con respecto a los Contenidos y Servicios proporcionados por NATIVOS TIERRA a través del Portal
        </p>
        <p class="texto-regular color-accent pad-20">
            8.b).1 Todos los derechos de propiedad intelectual, industrial o análogos existentes sobre el Portal y los
            Contenidos facilitados en él son titularidad de NATIVOS TIERRA o de terceros. No obstante, se autoriza a los
            Especialistas para utilizar el Portal y navegar por él y acceder a sus Contenidos y Servicios, así como a
            utilizar el software de acceso al Portal y poder descargar una copia de los contenidos para su uso
            estrictamente personal y privado en las condiciones establecidas en el Aviso Legal. El Especialista no está
            autorizado a distribuir o comunicar públicamente, a transformar, descompilar o modificar el software.
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            9.- Nulidad parcial y renuncia
        </p>
        <p class="texto-regular color-accent pad-20">
            Si alguna de las cláusulas de las presentes Condiciones fuera declarada total o parcialmente nula o
            ineficaz, el resto mantendrán plenamente su vigencia y validez. 
        </p>
        <p class="texto-regular color-accent pad-20">
            La renuncia del Portal a ejercer cualquiera de las facultades que le reconocen las presentes Condiciones no
            impedirá que posteriormente pueda invocarlas ante cualquier otro incumplimiento.
        </p>
        <p class="texto-regular color-accent pad-20 bold">
            10,- Legislación aplicable y jurisdicción
        </p>
        <p class="texto-regular color-accent pad-20">
            Estas Condiciones se rigen por la legislación española, siendo competentes los Juzgados y Tribunales
            españoles para conocer de cuantas cuestiones se susciten sobre su interpretación, aplicación y cumplimiento.
            El Especialista, por virtud de la aceptación de estas Condiciones, renuncia expresamente a cualquier fuero
            distinto que, por aplicación de la Ley vigente, pudiera corresponderle. En cualquier caso, si la legislación
            vigente permitiese someterse a un fuero en concreto, el Especialista se somete voluntariamente a la
            jurisdicción de los Juzgados y Tribunales de la ciudad de Málaga.
        </p>


    </div>
</div>
<app-footer></app-footer>