<div class="contenedor__especialista">
    <div class="contenedor__imagen__especialista">
        <img class="especialista__imagen" 
            [src]="especialista.imagen|noImage:true" 
            [alt]="especialista.nombre">    
    </div>
    <div class="contenedor__content__especialista">
        <div class="columna">
            <div class="fila gap-10">
                <span class="texto__cajas__especialistas end color-accent">{{especialista.nombre}}</span>
                <span class="texto__cajas__especialistas end color-accent">{{especialista.apellidos}}</span>
            </div>
            <div class="fila">
                <span class="texto__cajas__especialistas color-accent">{{especialista.telefono}}</span>
            </div>
            <div class="fila">
                <button (click)="onMasInfo()" class="boton btn-info color-light">más info.</button>
                <div class="fila gap-10 end">
                    <span class="texto__cajas__especialistas color-accent end">{{especialista.pais}}</span>
                    <span class="texto__cajas__especialistas color-accent end">{{especialista.provincia}}</span>
                </div>
            </div>
        </div>
    </div>


</div>


<!--<div #cajaEspecialista class="box-evento">

    <div class="title">
        <h4 class="encabezado color-light">{{especialista.nombre | uppercase}}</h4>
        <h5 class="option-menu color-light">{{especialista.apellidos | uppercase}}</h5>

    </div>

    <div class="box-content">

        <div class="info-evento">
            
            
            <span class="texto-regular bold color-light">{{especialista.telefono}}</span>
            <div class="fila">
                <button class="boton btn-info color-light" (click)="onMasInfo()">más info</button>
                <span class="texto-regular bold color-light">{{especialista.provincia | uppercase}}</span>
                
            </div>
            
        </div>
        
    </div>



</div>-->



