
<div class="columna">

    <div class="fila">
        <span class="encabezado color-accent">Alta {{especialistaService.especialista.fecha_alta | date:'dd/MM/yyyy'}} </span>
        
        <div class="end">
            <span class="encabezado color-accent ">{{especialistaService.especialista.nombre}} </span>
            <span class="encabezado color-accent ">{{especialistaService.especialista.apellidos}}</span>
        </div>
    </div>
    <div class="fila">
        <span class="sub-title-xxl color-accent">Tu plan actual {{especialistaService.especialista| planesPipe}}</span>
    </div>
    <div class="fila">
        <span class="encabezado color-accent">Fin periodo {{especialistaService.especialista.fecha_fin_suscripcion |
            date:'dd/MM/yyyy'}}
        </span>
        <div>
            <a class="encabezado center color-accent" [routerLink]="['planes']"><span>Mejora tu plan</span></a>
        </div>
        <span><a class="texto-regular end color-red cerrar" (click)="cerrarSesion()">Cerrar sesión</a></span>
    </div>

</div>
