<div class="fila">
    <div class="columna gap-10">
        <span class="encabezado">{{especialistaService.especialista.nombre}}</span>
        <span class="encabezado">{{especialistaService.especialista.apellidos}}</span>
        <span class="sub-title-xxl color-accent">{{plan}}</span>
    </div>

   <a class="sub-title-xxl center color-accent" [routerLink]="['planes']"><span>Mejora tu plan</span></a> 

    <div class="columna end">
        
        <a class="texto-regular end color-red cerrar" (click)="cerrarSesion()">Cerrar sesión</a>
    </div>
</div>