.fila{
    border: 1px solid #7BACD5;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
a{
    text-decoration: none;
    align-self: flex-end;
    cursor: pointer;
}


.cerrar{
    text-align: end;
}