<app-header-no-menu></app-header-no-menu>


<div class="box-login color-accent">

    <h3 class="title-l-primary center">Recuperar contraseña</h3>

    <form [formGroup]="formNewPassword" (ngSubmit)="cambiar()" autocomplete="off" >

        <div class="columna gap-20">
            <div class="columna gap-20">
                <div class="columna gap-10">
                    <label class="encabezado color-accent" for="password">Password:</label>
                    <div class="columna gap-10">
                        <input type="password" name="password" id="" formControlName="password" placeholder="*******">                        
                        <span *ngIf="campoNoValido('password') && submitted" class="caption color-red">Introduzca su password</span>
                    </div>
                </div>
                <div class="columna gap-10">
                    <label class="encabezado color-accent" for="passwordC">Confirme password:</label>
                    <div class="columna gap-10">
                        <input type="password" name="passwordC" id="" formControlName="passwordC" placeholder="*******">                        
                        <span *ngIf="campoNoValido('passwordC') && submitted" class="caption color-red">Ambos deben ser iguales</span>
                    </div>
                </div>

            </div>
            <div class="columna gap-20">
                <button class="boton btn-login center sub-title-xl" type="submit">Cambiar</button>
            </div>
        </div>
    </form>
</div>
