<footer class="color-accent">


    <div class="box">
        <div class="container-content">
            <h1 class="title-xl-accent ">LöAlternativo</h1>
            <h2 class="sub-title-xl ">Comunidad de terapeutas, eventos y cursos</h2>
        </div>
        <app-newsletter></app-newsletter>
    </div>


    <div class="box">
        <div class="columna">
            <ul>
                <span class="option-menu">Mapa</span>
                <li>
                    <a class="caption" [routerLink]="['/home']" (click)="scroll()">Home</a>
                </li>
                <li>
                    <a class="caption" [routerLink]="['nosotros']" (click)="scroll()">Nosotros</a>
                </li>
                <li>
                    <a class="caption" [routerLink]="['especialistas']" (click)="scroll()">Especialistas</a>
                </li>
                <li>
                    <a class="caption" [routerLink]="['eventos']" (click)="scroll()">Eventos</a>
                </li>
                <li>
                    <a class="caption" [routerLink]="['cursos']" (click)="scroll()">Cursos</a>
                </li>
                <li>
                    <a class="caption" [routerLink]="['donde']" (click)="scroll()">Donde estamos</a>
                </li>
                <li>
                    <a class="caption" [routerLink]="['contacto']" (click)="scroll()">Contacto</a>
                </li>
                <li>
                    <a class="caption" [routerLink]="['/auth']" (click)="scroll()">Zona terapeutas</a>
                </li>
            </ul>
        </div>
        <div class="columna">
            <ul>
                <span class="option-menu">Información legal</span>
                <li>
                    <a class="caption" href="">Política de privacidad</a>
                </li>
                <li>
                    <a class="caption" href="">Aviso legal</a>
                </li>
                <li>
                    <a class="caption" href="">Política de cookies</a>
                </li>
            </ul>
        </div>
        <div class="columna">
            <ul>
                <span class="option-menu">Síguenos en redes</span>
                <li>
                    <app-red-social [fontSize]="caption" [redSocial]="instagram"></app-red-social>
                </li>
                <li>
                    <app-red-social [fontSize]="caption" [redSocial]="facebook"></app-red-social>
                </li>
                <li>
                    <app-red-social [fontSize]="caption" [redSocial]="youtube"></app-red-social>
                </li>
            </ul>
        </div>
    </div>


</footer>