<app-header-no-menu></app-header-no-menu>


<div class="box-login color-accent">
    <h3 class="title-l-primary center">Registro</h3>

    <form [formGroup]="formRegistro" (ngSubmit)="onRegister()" >

        <div class="columna gap-20">
            <div class="columna gap-20">
                <div class="fila">
                    <div class="columna gap-10">
                    <label class="encabezado color-accent" for="name">Nombre:</label>
                    <div class="columna gap-10">
                        <input type="text" name="name" id="" formControlName="name" placeholder="Manuel">
                        <span *ngIf="name && submitted" class="caption color-red">Introduzca un nombre</span>
                    </div>
                </div>


                <div class="columna gap-10">
                    <label class="encabezado color-accent" for="email">Email:</label>
                    <div class="columna gap-10">
                        <input type="text" name="email" id="" formControlName="email" placeholder="tuemail@email.es">
                        <span *ngIf="email && submitted" class="caption color-red">No es un email válido</span>
                    </div>
                </div>
                </div>

                <div class="fila">
                    <div class="columna gap-10">
                    <label class="encabezado color-accent" for="email">Email:</label>
                    <div class="columna gap-10">
                        <input type="text" name="email" id="" formControlName="email" placeholder="tuemail@email.es">
                        <span *ngIf="email && submitted" class="caption color-red">No es un email válido</span>
                    </div>
                </div>


                <div class="columna gap-10">
                    <label class="encabezado color-accent" for="email">Email:</label>
                    <div class="columna gap-10">
                        <input type="text" name="email" id="" formControlName="email" placeholder="tuemail@email.es">
                        <span *ngIf="email && submitted" class="caption color-red">No es un email válido</span>
                    </div>
                </div>
                </div>

                <div class="fila">
                    <div class="columna gap-10">
                    <label class="encabezado color-accent" for="email">Email:</label>
                    <div class="columna gap-10">
                        <input type="text" name="email" id="" formControlName="email" placeholder="tuemail@email.es">
                        <span *ngIf="email && submitted" class="caption color-red">No es un email válido</span>
                    </div>
                </div>


                <div class="columna gap-10">
                    <label class="encabezado color-accent" for="email">Email:</label>
                    <div class="columna gap-10">
                        <input type="text" name="email" id="" formControlName="email" placeholder="tuemail@email.es">
                        <span *ngIf="email && submitted" class="caption color-red">No es un email válido</span>
                    </div>
                </div>
                </div>
                

                <div class="fila">
                    <div class="columna gap-10">
                    <label class="encabezado color-accent" for="email">Email:</label>
                    <div class="columna gap-10">
                        <input type="text" name="email" id="" formControlName="email" placeholder="tuemail@email.es">
                        <span *ngIf="email && submitted" class="caption color-red">No es un email válido</span>
                    </div>
                </div>


                <div class="columna gap-10">
                    <label class="encabezado color-accent" for="email">Email:</label>
                    <div class="columna gap-10">
                        <input type="text" name="email" id="" formControlName="email" placeholder="tuemail@email.es">
                        <span *ngIf="email && submitted" class="caption color-red">No es un email válido</span>
                    </div>
                </div>
                </div>

                <div class="columna gap-10">
                    <label class="encabezado color-accent" for="password">Password:</label>
                    <div class="columna gap-10">
                        <input type="password" name="password" id="" formControlName="password" placeholder="*******">
                        <span class="caption color-accent">¿Olvidaste la contraseña?</span>
                        <span *ngIf="password && submitted" class="caption color-red">Introduzca su password</span>
                    </div>
                </div>

            </div>
            <div class="columna gap-20">
                <button class="boton btn-login center sub-title-xl" type="submit">Login</button>
            </div>
        </div>
    </form>
    <div class="fila">
        <a class="texto-regular color-accent">Términos y condiciones</a>
        <a class="sub-title-xl color-accent" [routerLink]="['/']">Volver</a>
        <a class="texto-regular color-accent" [routerLink]="['/auth/registro']">¿Aun no estás registrado?</a>
    </div>


</div>
