<app-header-no-menu></app-header-no-menu>
<div class="container">
    <div class="content-proteccion-datos">
        <h4 class="title-l-primary color-accent pad-20 center">AVISO LEGAL</h4>
        <p class="texto-regular color-accent pad-20">
            El titular de esta página Web es D. David Jesus Molina Retuerto (NATIVOS TIERRRA) con C.I.F. 79287488-W,
            domicilio en C/___________________, teléfono _______________ y correo electrónico ____________.

        </p>
        <p class="texto-regular color-accent pad-20">
            La utilización de esta página Web atribuye la condición de Usuario a quien lo haga e implica la aceptación
            de todas las condiciones incluidas en este Aviso Legal. El Usuario deberá leer estas condiciones cada vez
            que acceda a esta Web, ya que pueden ser modificadas en lo sucesivo. Algunos aspectos de esta página Web,
            por su especialidad, pueden estar sujetos a condiciones o reglas particulares que pueden sustituir,
            completar o modificar este Aviso Legal, por lo que también deben ser aceptadas por el Usuario que los
            utilice o acceda a ellos.

        </p>
        <p class="texto-regular color-accent pad-20">
            Todos los contenidos de esta Web (textos, fotografías, gráficos, imágenes, tecnología, software, links,
            contenidos audiovisuales o sonoros, diseño gráfico, código fuente, etc.), así como las marcas y demás signos
            distintivos son propiedad del titular de la Web o de terceros, no adquiriendo el Usuario ningún derecho
            sobre ellos por el mero uso de esta Web.

        </p>
        <p class="texto-regular color-accent pad-20">
            Queda prohibido el uso de esta Web con la finalidad de lesionar bienes, derechos o intereses del titular de
            la Web o de terceros. Queda igualmente prohibido realizar cualquier otro uso que altere, dañe o inutilice
            las redes, servidores, equipos, productos y programas informáticos del titular de la Web o de terceros.

        </p>
        <p class="texto-regular color-accent pad-20">
            El Usuario, deberá abstenerse de: a) reproducir, copiar, distribuir, poner a disposición de terceros,
            comunicar públicamente, transformar o modificar los contenidos de esta Web, salvo en los casos contemplados
            en la ley o expresamente autorizados por el titular de la Web o los titulares de los derechos; b) reproducir
            o copiar para uso privado el software o las bases de datos existentes en esta Web, así como comunicarlos
            públicamente o ponerlos a disposición de terceros cuando ello conlleve su reproducción; c) extraer o
            reutilizar todo o parte sustancial de los contenidos integrantes de esta Web.

        </p>
        <p class="texto-regular color-accent pad-20">
            El Usuario es responsable de que la información que proporcione a través de esta Web sea cierta. A estos
            efectos, el Usuario responde de la veracidad de todos los datos que comunique y mantendrá convenientemente
            actualizada la información facilitada, de tal forma que responda a su situación real. El Usuario será
            responsable de las informaciones falsas o inexactas que proporcione y de los perjuicios que ello cause al
            titular de la Web o a terceros.

        </p>
        <p class="texto-regular color-accent pad-20">
            El Usuario que quiera introducir enlaces a esta Web desde sus propias páginas Web estará obligado a cumplir
            las condiciones siguientes: a) el enlace únicamente vinculará con la home page, no pudiendo reproducirla de
            ninguna forma; b) no podrán establecerse frames o marcos de cualquier tipo que rodeen la Web o permitan
            visualizarla a través de direcciones de Internet distintas o conjuntamente con contenidos ajenos a esta Web,
            de forma que produzca, o pueda producir, error o confusión en los usuarios sobre la procedencia del servicio
            o su contenido, implique un acto de comparación o imitación desleal, sirva para aprovechar la reputación,
            marca y prestigio del titular de esta Web o se haga de cualquier otro modo que esté prohibido por la Ley; c)
            desde la página que realice el enlace no podrá efectuarse ningún tipo de manifestación falsa o inexacta
            sobre el titular de esta Web, sobre la calidad de sus servicios o sobre sus empleados o clientes; d) El
            remitente no podrá utilizar el nombre, la marca o cualquier otro signo distintivo del titular de esta Web
            dentro de su página, salvo en los casos autorizados por la ley o permitidos expresamente por el aquel; e) la
            página que establezca el enlace deberá observar la legalidad vigente y no podrá disponer de o enlazar con
            contenidos ilícitos, nocivos, contrarios a la moral y a las buenas costumbres, que produzcan o puedan
            producir la falsa idea de que el titular de esta Web respalda o apoya, las ideas, manifestaciones o
            actuaciones del remitente o que resulten inadecuados en relación con la actividad desarrollada por el
            titular de esta Web, teniendo en cuenta los contenidos y la temática general de la página Web donde se
            establezca el enlace.

        </p>
        <p class="texto-regular color-accent pad-20">
            El titular de esta Web no es responsable de controlar que en ella no existan programas maliciosos o
            cualquier otro elemento informático dañino. Corresponde al Usuario, en todo caso, disponer de herramientas
            adecuadas para la detección y desinfección de estos elementos. De acuerdo con ello, el titular de esta Web
            no se responsabiliza de los daños producidos a equipos informáticos durante el acceso a la presente Web.
            Igualmente, titular de esta Web no será responsable de los daños producidos a los Usuarios cuando dichos
            daños tengan su origen en fallos o desconexiones en las redes de telecomunicaciones que interrumpan el
            servicio de la Web.

        </p>
        <p class="texto-regular color-accent pad-20">
            Esta Web incluye dispositivos técnicos de enlace que permiten al Usuario acceder a otras páginas de Internet
            (enlaces). En estos casos, el titular de esta Web sólo será responsable de los contenidos y servicios
            suministrados a través de los enlaces en cuanto conozca su ilicitud y no los haya desactivado
            diligentemente. Si un Usuario considerase que existe un enlace con contenidos ilícitos o inadecuados, podrá
            notificarlo, sin que ello suponga que se esté obligado por ello a retirar el correspondiente enlace. El
            titular de esta Web no conoce los contenidos y servicios de los enlaces y por tanto no se hace responsable
            por los daños derivados de su falta de calidad, desactualización, indisponibilidad, error, inutilidad o
            ilegalidad y no responde de las manifestaciones realizadas o de los contenidos o servicios proporcionados a
            través de ellos. Si cualquier usuario tiene conocimiento de que los enlaces remiten a páginas cuyos
            contenidos o servicios son ilícitos, nocivos, denigrantes, violentos o inmorales podrá ponerse en contacto
            con el titular de esta Web indicándolo.

        </p>
        <p class="texto-regular color-accent pad-20">
            Esta Web tienen como finalidad dar visibilidad y que los Usuarios conozcan a una comunidad de Especialistas
            dedicada a _____________________. Para ello, el titular de esta Web publicita en su Web la identidad,
            servicios y datos de contacto de los Especialistas registrados en esta. En el caso de que los Usuarios
            contraten los servicios de dichos especialistas, esa contratación se realizará de forma independiente al
            titular de esta Web y esta no será, en ningún caso, responsable de los niveles de calidad y honestidad con
            los que el Especialista preste el servicio al Usuario. Si un Usuario considerase que los servicios son
            prestados por el Especialista sin atender a las reglas de honestidad y calidad, podrá notificarlo, sin que
            ello suponga que el titular de esta Web esté obligado por ello a retirar el correspondiente especio
            publicitario. El titular de esta Web no conoce la calidad y honestidad de los servicios publicitados los
            espacios correspondientes y por tanto no se hace responsable por los daños derivados de su falta de calidad,
            honestidad o ilegalidad y no responde de las manifestaciones realizadas o de los contenidos o servicios
            proporcionados a través de ellos. Si cualquier Usuario tiene conocimiento de que los servicios publicitados
            no disponen de la calidad, honestidad o legalidad oportuna podrá ponerse en contacto con el titular de esta
            Web indicándolo en la siguiente dirección de e-mail: ___@nativostierra.com. No obstante, el titular de esta
            Web no estará obligado a atender dicha petición si estima que los hechos comunicados no se han producido o
            que, habiéndose producido, están excepcionalmente justificados por las circunstancias del caso concreto.

        </p>


        <p class="texto-regular color-accent pad-20">
            El presente Aviso Legal se rige íntegramente por la legislación española. El Usuario se compromete a hacer
            un uso correcto de esta Web de conformidad con la Ley, con el presente Aviso Legal, así como con las demás
            condiciones, reglamentos e instrucciones que, en su caso, pudieran ser de aplicación El Usuario responderá
            frente al titular de esta Web y frente a terceros, de cualesquiera daños o perjuicios que pudieran causarse
            por incumplimiento de estas obligaciones.

        </p>


    </div>
</div>
<app-footer></app-footer>