<app-header-no-menu></app-header-no-menu>
<div class="container">

    <h4 class="title-l-primary color-accent pad-20 center">POLÍTICA DE PRIVACIDAD</h4>

    <div class="content-proteccion-datos">



        <p class="texto-regular color-accent pad-20  ">
            Ponemos a su disposición la presente Política de Privacidad con la finalidad de informarle detalladamente
            sobre
            cómo tratamos sus datos personales y protegemos su privacidad y la información que nos proporciona.
        </p>
        <p class="texto-regular color-accent pad-20  ">
            Si, en el futuro, introdujésemos modificaciones en esta Política de Privacidad, se lo comunicaremos a través
            de
            esta página web o por otros medios, de modo que pueda usted conocer las nuevas condiciones de privacidad que
            se
            adopten.
        </p>

        <p class="texto-regular color-accent pad-20  ">
            Le informamos a continuación, en forma de preguntas y respuestas, de las condiciones en las que nuestra
            entidad
            trata sus datos personales:
        </p>

        <p class="texto-regular color-accent pad-20  bold">
            ¿Quién es el responsable del tratamiento de sus datos?
        </p>
        <ul>
            <li>
                <span class="texto-regular color-accent pad-20 ">
                    <span class="texto-regular color-accent pad-20 center bold">Entidad Responsable:</span> D. David
                    Jesus
                    Molina Retuerto (NATIVOS TIERRRA). – CIF: 79287488-W.
                </span>
            </li>
            <li>
                <span class="texto-regular color-accent pad-20 ">
                    <span class="texto-regular color-accent pad-20  bold">Dirección postal: </span>
                </span>
            </li>
            <li>
                <span class="texto-regular color-accent pad-20 ">
                    <span class="texto-regular color-accent pad-20 center bold">Teléfono: </span>
                </span>
            </li>
            <li>
                <span class="texto-regular color-accent pad-20 ">
                    <span class="texto-regular color-accent pad-20  bold"> Correo electrónico:
                    </span>__________@nativostierra.com.
                </span>
            </li>
        </ul>

        <p class="texto-regular color-accent pad-20  bold">
            ¿Con qué finalidad tratamos sus datos personales?
        </p>

        <p class="texto-regular color-accent pad-20 ">Tratamos los datos personales que nos facilite con los
            siguientes fines: </p>

        <ul>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    La gestión de la suscripción y relación con los especialistas, y la facturación y cobro de los
                    servicios. El suministro de los datos con este fin por parte de nuestros especialistas es obligado,
                    impidiéndose en otro caso el cumplimiento del contrato.
                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    La gestión de las relaciones con nuestros proveedores, así como la facturación y pago de los
                    servicios.
                    Con este fin, es obligatorio que el proveedor nos facilite sus datos, ya que, en caso contrario, no
                    podría ejecutarse el contrato.
                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    La gestión de los usuarios de la página web, canalizando las solicitudes de información, sugerencias
                    y
                    reclamaciones que nos puedan hacer llegar, contactar con el remitente de la información, dar
                    respuesta a
                    su petición o consulta y hacer un seguimiento posterior. El hecho de facilitar los datos con este
                    fin es
                    voluntario, aunque, en caso de no hacerlo, no se podrá responder a la solicitud, consulta o
                    reclamación.
                    Por tanto, la comunicación de sus datos personales a estos efectos es un requisito necesario para
                    que
                    podamos atender esas peticiones.
                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    El envío de comunicaciones comerciales de nuestros productos o servicios. Si usted dispone de la
                    suscripción de especialista, le remitiremos dichas comunicaciones, salvo que manifieste su voluntad
                    en
                    contra marcando la correspondiente casilla en el momento de facilitar sus datos o, con
                    posterioridad,
                    comunicándonoslo a través de cualquier medio.
                </p>
                <p class="texto-regular color-accent pad-20 ">
                    Si usted es usuario de nuestra página web no le remitiremos información comercial, salvo que nos
                    autorice expresamente a ello. La autorización es voluntaria y su negativa sólo tendría como
                    consecuencia
                    que usted no recibiría ofertas comerciales de nuestros productos o servicios.
                </p>
                <p class="texto-regular color-accent pad-20 ">
                    En relación con el envío de las referidas comunicaciones, en base a la información facilitada,
                    podemos
                    elaborar perfiles comerciales, para ofrecerle los productos y servicios que mejor se ajusten a sus
                    intereses.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    En caso de que se haga amigo o seguidor nuestro en redes sociales, trataremos sus datos para
                    mantenerle
                    informado de nuestras actividades y promociones a través de dichos canales. El hecho de facilitar
                    los
                    datos con este fin es voluntario, aunque, en caso de no hacerlo, no podrá ser amigo o seguidor
                    nuestro
                    en la correspondiente red social. Las categorías de datos que se tratan con este fin son datos
                    identificativos.
                </p>
            </li>
        </ul>

        <p class="texto-regular color-accent pad-20  bold">
            ¿Durante cuánto tiempo trataremos sus datos?
        </p>
        <p class="texto-regular color-accent pad-20 ">
            Sólo conservamos sus datos por el periodo de tiempo necesario para cumplir con la finalidad para la que
            fueron
            recogidos, dar cumplimiento a las obligaciones legales que nos vienen impuestas y atender las posibles
            responsabilidades que pudieran derivar del cumplimiento de la finalidad para la que los datos fueron
            recabados.
        </p>
        <p class="texto-regular color-accent pad-20 ">
            Los datos para la suscripción y gestión de la relación con los especialistas y proveedores y la facturación
            y
            cobro de los servicios serán conservados con ese fin durante todo el tiempo en que el acuerdo contractual
            esté
            vigente. Una vez finalizada dicha relación, en su caso, los datos podrán ser conservados durante el tiempo
            exigido por la legislación aplicable y hasta que prescriban las eventuales responsabilidades derivadas del
            acuerdo.

        </p>

        <p class="texto-regular color-accent pad-20 ">
            Los datos para el envío de comunicaciones comerciales de nuestros productos o servicios serán conservados
            indefinidamente, hasta que, en su caso, el usuario nos manifieste su voluntad de suprimirlos o su deseo de
            dejar
            de recibir dichas comunicaciones.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Los datos de potenciales especialistas que no lleguen a suscribirse y que no deseen recibir información
            comercial, serán suprimidos cuando se confirme que no se llevará a cabo la suscripción. En caso de que, de
            la
            previa relación entre las partes, aun no consumada, pudiera ocasionar eventuales responsabilidades, los
            datos se
            conservarán hasta que estas prescriban.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Los datos de los usuarios de la página web tratados para atender solicitudes, peticiones, consultas o
            reclamaciones serán conservados durante el tiempo necesario para dar respuesta a ellas y darlas por
            definitivamente cerradas. Posteriormente, serán conservados a modo de histórico de comunicaciones durante un
            plazo de un año, salvo que usted solicite su supresión antes.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Los datos facilitados a través de redes sociales serán conservados mientras el usuario permanezca como amigo
            o
            seguidor nuestro en la correspondiente plataforma.

        </p>
        <p class="texto-regular color-accent pad-20  bold">
            ¿Cuál es la legitimación para el tratamiento de sus datos?

        </p>
        <p class="texto-regular color-accent pad-20 ">
            La base legal para el tratamiento de los datos de los especialistas es la ejecución del encargo profesional
            por
            estos realizado a nuestra entidad, según los términos y condiciones del registro.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            La oferta prospectiva de productos y servicios a los especialistas tiene como base la satisfacción del
            interés
            legítimo empresarial consistente en poder ofrecerles la contratación de otros productos o servicios y
            conseguir
            así su fidelización. Dicho interés legítimo se reconoce por la normativa legal aplicable (Reglamento General
            de
            Protección de Datos), que permite expresamente el tratamiento de datos personales sobre esa base legal con
            fines
            de mercadotecnia directa. No obstante, le recordamos que tiene usted derecho a oponerse a este tratamiento
            de
            sus datos, pudiendo hacerlo por cualquiera de los medios previstos en esta cláusula.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            La oferta prospectiva de productos y servicios a quienes, habiendo mostrado interés en aquellos, no son o no
            han
            llegado a suscribirse como especialistas, tiene como base el consentimiento del interesado. Dicho
            consentimiento
            es revocable en cualquier momento, sin que ello tenga más consecuencias que dejar de recibir la publicidad y
            sin
            que ello afecte a los tratamientos de datos realizados con anterioridad.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            El tratamiento de datos personales de los usuarios de la web para dar respuesta a sus solicitudes de
            información, peticiones, consultas y reclamaciones tiene como base el consentimiento de la persona
            interesada.
            Puede retirarse dicho consentimiento en cualquier momento, si bien ello no afectará a la licitud de los
            tratamientos efectuados con anterioridad.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Los datos facilitados a través de redes sociales serán tratados sobre la base jurídica de su consentimiento,
            pudiendo revocarlo en cualquier momento, aunque ello no afectará a la licitud de los tratamientos efectuados
            con
            anterioridad.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Las categorías de datos tratadas son las que se soliciten en cada caso en el formulario o contrato a través
            del
            cual nos facilite sus datos.

        </p>
        <p class="texto-regular color-accent pad-20  bold">
            ¿A qué destinatarios se comunicarán sus datos?

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Los datos serán comunicados a las siguientes entidades:

        </p>

        <ul>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    Las Administraciones Públicas competentes, incluidos jueces y tribunales, en los casos previstos en
                    la
                    Ley y para los fines en ella definidos.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    En el caso de los especialistas, a las entidades financieras a través de las que se articule la
                    gestión
                    de cobros de los servicios.

                </p>
            </li>
        </ul>

        <p class="texto-regular color-accent pad-20 ">
            Aunque no se trata de una cesión de datos, puede ser que terceras empresas, que actúan como proveedores
            nuestros, accedan a su información para llevar a cabo el servicio. Estos encargados acceden a sus datos
            siguiendo nuestras instrucciones y sin que puedan utilizarlos para una finalidad diferente y manteniendo la
            más
            estricta confidencialidad y en base a un contrato en el que se comprometen a cumplir las exigencias de la
            vigente normativa en materia de protección de datos personales.

        </p>

        <p class="texto-regular color-accent pad-20  bold">
            ¿Cuáles son sus derechos cuando nos facilita sus datos?
        </p>

        <p class="texto-regular color-accent pad-20 ">
            Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que le
            conciernan, o no. Las personas interesadas tienen derecho a acceder a sus datos personales, así como a
            solicitar
            la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos,
            los
            datos ya no sean necesarios para los fines para los que fueron recogidos.
        </p>
        <p class="texto-regular color-accent pad-20 ">
            En las condiciones previstas en el Reglamento General de Protección de Datos, los interesados podrán
            solicitar
            la limitación del tratamiento de sus datos o su portabilidad, en cuyo caso únicamente los conservaremos para
            el
            ejercicio o la defensa de reclamaciones.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados
            podrán
            oponerse al tratamiento de sus datos. Si usted ha otorgado el consentimiento para alguna finalidad
            específica,
            tiene derecho a retirarlo en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en
            el
            consentimiento previo a su retirada. En estos supuestos dejaremos de tratar los datos o, en su caso,
            dejaremos
            de hacerlo para esa finalidad en concreto, salvo por motivos legítimos imperiosos, o el ejercicio o la
            defensa
            de posibles reclamaciones.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Además, la normativa en materia de protección de datos permite que pueda oponerse a ser objeto de decisiones
            basadas únicamente en el tratamiento automatizado de sus datos, cuando proceda.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Los antedichos derechos se caracterizan por lo siguiente:

        </p>
        <ul>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    Su ejercicio es gratuito, salvo que se trate de solicitudes manifiestamente infundadas o excesivas
                    (p.
                    ej., carácter repetitivo), en cuyo caso podrá cobrarse un canon proporcional a los costes
                    administrativos soportados o negarse a actuar

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    Puede ejercer los derechos directamente o por medio de tu representante legal o voluntario

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    Se debe responder a su solicitud en el plazo de un mes, aunque, si se tiene en cuenta la complejidad
                    y
                    número de solicitudes, se puede prorrogar el plazo en otros dos meses más.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    Tenemos la obligación de informarle sobre los medios para ejercitar estos derechos, los cuales deben
                    ser
                    accesibles y sin poder denegarle el ejercicio del derecho por el solo motivo de optar por otro
                    medio. Si
                    la solicitud se presenta por medios electrónicos, la información se facilitará por estos medios
                    cuando
                    sea posible, salvo que nos solicite que sea de otro modo.

                </p>
            </li>
            <li>
                <p class="texto-regular color-accent pad-20 ">
                    Si, por cualquier motivo, no se diese curso a la solicitud, le informaremos, a más tardar en un mes,
                    de
                    las razones de ello y de la posibilidad de reclamar ante una Autoridad de Control

                </p>
            </li>
        </ul>

        <p class="texto-regular color-accent pad-20 ">
            A fin de facilitar el ejercicio de los referidos derechos, le facilitamos a continuación los enlaces al
            formulario de solicitud de cada uno de ellos:

        </p>
        <ul>
            <li>
                <a class="texto-regular color-accent pad-20 "
                    href="https://www.aepd.es/sites/default/files/2019-09/formulario-derecho-de-acceso.pdf"
                    target="_blank">
                    Formulario ejercicio del derecho de acceso
                </a>
            </li>
            <li>
                <a class="texto-regular color-accent pad-20 "
                    href="https://www.aepd.es/sites/default/files/2019-09/formulario-derecho-de-rectificacion.pdf"
                    target="_blank">
                    Formulario de ejercicio del derecho de rectificación
                </a>
            </li>
            <li>
                <a class="texto-regular color-accent pad-20 "
                    href="https://www.aepd.es/sites/default/files/2019-09/formulario-derecho-de-oposicion.pdf"
                    target="_blank">
                    Formulario de ejercicio del derecho de oposición
                </a>
            </li>
            <li>
                <a class="texto-regular color-accent pad-20 "
                    href="https://www.aepd.es/sites/default/files/2019-09/formulario-derecho-de-supresion.pdf"
                    target="_blank">
                    Formulario de ejercicio del derecho de supresión (derecho “al olvido”)
                </a>
            </li>
            <li>
                <a class="texto-regular color-accent pad-20 "
                    href="https://www.aepd.es/sites/default/files/2019-09/formulario-derecho-de-limitacion.pdf"
                    target="_blank">
                    Formulario de ejercicio del derecho a la limitación del tratamiento
                </a>
            </li>
            <li>
                <a class="texto-regular color-accent pad-20 "
                    href="https://www.aepd.es/sites/default/files/2019-09/formulario-derecho-de-portabilidad.pdf"
                    target="_blank">
                    Formulario de ejercicios del derecho a la portabilidad
                </a>
            </li>
            <li>
                <a class="texto-regular color-accent pad-20 "
                    href="https://www.aepd.es/sites/default/files/2019-09/formulario-derecho-de-oposicion-decisiones-automatizadas.pdf"
                    target="_blank">
                    Formulario de ejercicio a no ser objeto de decisiones individuales automatizadas
                </a>
            </li>
        </ul>
        <p class="texto-regular color-accent pad-20 ">
            Todos los derechos mencionados pueden ejercerse a través de los medios de contacto que figuran al principio
            de
            esta cláusula.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Todos los derechos mencionados pueden ejercerse a través de los medios de contacto con la entidad que
            figuran al
            principio de esta cláusula.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Frente a cualquier vulneración de sus derechos, especialmente cuando usted no haya obtenido satisfacción en
            su
            ejercicio, puede presentar una reclamación ante la Agencia Española de Protección de Datos (datos de
            contacto
            accesibles en www.aepd.es), u otra autoridad de control competente. También puede obtener más información
            sobre
            los derechos que le asisten dirigiéndose a dichos organismos.

        </p>
        <p class="texto-regular color-accent pad-20  bold">
            ¿Cómo protegemos sus datos personales?

        </p>

        <p class="texto-regular color-accent pad-20 ">
            Tenemos el firme compromiso de proteger los datos personales que tratamos. Utilizamos medidas, controles y
            procedimientos de carácter físico, organizativo y tecnológico, razonablemente fiables y efectivos,
            orientados a
            preservar la integridad y la seguridad de sus datos y garantizar su privacidad.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Además, todo el personal con acceso a los datos personales ha sido formado y tiene conocimiento de sus
            obligaciones con relación a los tratamientos de sus datos personales.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            En el caso de los contratos que suscribimos con nuestros proveedores incluimos cláusulas en las que se les
            exige
            mantener el deber de secreto respecto a los datos de carácter personal a los que hayan tenido acceso en
            virtud
            del encargo realizado, así como implantar las medidas de seguridad técnicas y organizativas necesarias para
            garantizar la confidencialidad, integridad, disponibilidad y resiliencia permanentes de los sistemas y
            servicios
            de tratamiento de los datos personales.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Todas estas medidas de seguridad son revisadas de forma periódica para garantizar su adecuación y
            efectividad.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Sin embargo, la seguridad absoluta no se puede garantizar y no existe ningún sistema de seguridad que sea
            impenetrable por lo que, en el caso de cualquier información objeto de tratamiento y bajo nuestro control se
            viese comprometida como consecuencia de una brecha de seguridad, tomaremos las medidas adecuadas para
            investigar
            el incidente, notificarlo a la Autoridad de Control y, en su caso, a aquellos usuarios que se hubieran
            podido
            ver afectados para que tomen las medidas adecuadas.

        </p>
        <p class="texto-regular color-accent pad-20  bold">
            ¿Cuál es su responsabilidad como titular de los datos?

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Al facilitarnos sus datos personales, la persona que lo haga garantiza que es mayor de 14 años y que los
            datos
            facilitados son verdaderos, exactos, completos y actualizados.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            A estos efectos, el interesado responde de la veracidad de los datos y los deberá mantener convenientemente
            actualizados de modo que respondan a su situación real, haciéndose responsable de los datos falsos e
            inexactos
            que pudiera proporcionar, así como de los daños y perjuicios, directos o indirectos, que pudieran derivarse.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Si usted facilita datos de terceros, asume la responsabilidad de informarles previamente de todo lo previsto
            en
            el artículo 14 del Reglamento General de Protección de Datos en las condiciones establecidas en dicho
            precepto.

        </p>
        <p class="texto-regular color-accent pad-20  bold">
            ¿Cómo hemos obtenido sus datos?

        </p>
        <p class="texto-regular color-accent pad-20 ">
            En aquellos casos en que el registro de usuario se efectúa mediante redes sociales, los datos personales que
            trataremos procederán de la red social de que se trate, a la que, previamente, el interesado habrá
            facilitado
            dichos datos para los fines previstos en sus correspondientes políticas de privacidad. Las categorías de
            datos
            que recabaremos desde la red social de que se trate son las que figuran en nuestro formulario de registro y
            que
            usted haya facilitado a dicha red social. Si, para proceder al registro en nuestra web, fuesen
            imprescindibles
            más datos de los suministrados por la red social, deberá cumplimentarlos adicionalmente en nuestro
            formulario de
            registro, con sujeción a las condiciones de privacidad previstas en esta Política.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Los datos personales que tratamos proceden los formularios de recabo de datos (formulario de contacto, de
            suscripción, etc.).

        </p>
        <p class="texto-regular color-accent pad-20 ">
            Las categorías de datos que se tratan son datos de identificación, códigos o claves de identificación,
            direcciones postales o electrónicas, información comercial y datos económicos.

        </p>
        <p class="texto-regular color-accent pad-20 ">
            No se tratan datos especialmente protegidos.

        </p>
    </div>

</div>

<app-footer></app-footer>