<app-header></app-header>
<app-boton-plantilla></app-boton-plantilla>
<h3 class="title-xl-primary color-accent">Contacto</h3>
<div class="box-donde color-accent">

    <form [formGroup]="formContacto" (ngSubmit)="onSubmit()">

        <div class="fila gap-20">
            <div class="columna gap-20">
                <div class="columna gap-10">
                    <label class="encabezado color-accent" for="name">Nombre:</label>
                    <div class="columna gap-10">
                        <input type="text" name="name" id="" formControlName="name" placeholder="Manuel">
                        <span *ngIf="name && submitted" class="caption color-red">Introduzca su nombre</span>
                    </div>
                </div>
                <div class="columna gap-10">
                    <label class="encabezado color-accent" for="email">Email:</label>
                    <div class="columna gap-10">
                        <input type="text" name="email" id="" formControlName="email" placeholder="tuemail@email.es">
                        <span *ngIf="email && submitted" class="caption color-red">No es un email válido</span>
                    </div>
                </div>
                <div class="columna gap-10">
                    <label class="form-control encabezado color-accent" for="privacidad">Acepto la política de
                        privacidad
                        <input type="checkbox" name="privacidad" id="" formControlName="privacidad">
                    </label>
                    <span *ngIf="privacidad && submitted" class="caption color-red">Debe aceptar la política de privacidad</span>

                </div>
            </div>
            <div class="columna gap-20">
                <label class="encabezado color-accent" for="mensaje">Mensaje</label>
                <div class="columna gap-10">
                    <textarea name="mensaje" id="" cols="40" rows="7" formControlName="mensaje"
                        placeholder="Cuentanos que necesitas">

                </textarea>
                    <span *ngIf="mensaje && submitted" class="caption color-red">Deje un mensaje de al menos diez caracteres</span>
                </div>

                <button class="boton btn-login end" type="submit">Enviar</button>
            </div>
        </div>
    </form>


</div>

<app-footer></app-footer>