.wrapper .wrapper2{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-wrap: wrap;
    gap:40px
}

.wrapper2{
    justify-content: flex-start;
}

.boton{
    margin: 20px;
}

app-modal-especialista{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.3);
    inset: 0;
    position: fixed;   
    
}

.fila{
    padding: 20px;
}

.btn-info {
    background:transparent;
    color: #525020;
    width: 65px;
    height: 25px;
}

