<header>

    <div class="container-logo">
        <img src="./../../../../assets/images/logo/logo.svg" alt="logo lo alternativo">
    </div>
    <div class="container-nav-content">
        <nav>
            <ul>
                <li>
                    <a class="active" href="#">Home</a>
                </li>
                <li>
                    <a href="#">Nosotros</a>
                </li>
                <li>
                    <a href="#">Especialistas</a>
                </li>
                <li>
                    <a href="#">Donde estamos</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
                <li>
                    <a href="#">Zona terapeutas</a>
                </li>
            </ul>

        </nav>
        <div class="container-content">
            <h1>LöAlternativo</h1>
            <h2>Comunidad de terapeutas y eventos</h2>
        </div>
    </div>

</header>