<div class="box-formulario-evento" id="modificar-datos-especialista">

    <form [formGroup]="formModificarEspecialista" enctype="multipart/form-data">
        <h3 class="title-l-primary">Modificar datos</h3>
        <div class="wrapper-form">
            <div class="columna gap-10 apellidos">
                <label class="option-menu" for="apellidos">Apellidos:</label>
                <div class="columna gap-10">
                    <input type="text" name="apellidos" id="" formControlName="apellidos"
                        placeholder="Fernández Esteban" >
                    <span *ngIf="submitted && campoNoValido('apellidos')" class="caption color-red">Introduzca sus apellidos</span>
                </div>
            </div>
            <div class="columna gap-10 nombre">
                <label class="option-menu" for="nombre">Nombre:</label>
                <div class="columna gap-10">
                    <input type="text" name="nombre" id="" formControlName="nombre" placeholder="Manuel"
                        >
                    <span *ngIf="submitted && campoNoValido('nombre')" class="caption color-red">Introduzca su nombre</span>
                </div>
            </div>



            <div class="columna gap-10 actividad">
                <label class="option-menu" for="ActividadeId">Actividad:</label>
                <div class="select columna gap-10">
                    <select class="texto-regular" name="ActividadeId"
                        formControlName="ActividadeId" #selectActividad>                        

                    </select>
                    <span *ngIf="submitted && campoNoValido('ActividadeId')" class="caption color-red">Seleccione su actividad</span>
                </div>
            </div>
            <div class="columna gap-10 telefono">
                <label class="option-menu" for="telefono">Teléfono:</label>
                <div class="columna gap-10">
                    <input type="tel" id="" formControlName="telefono" placeholder="612345678">
                    <span *ngIf="submitted && campoNoValido('telefono')" class="caption color-red">Introduzca su teléfono</span>
                </div>
            </div>
            <div class="columna gap-10 email">
                <label class="option-menu" for="email">Email:</label>
                <div class="columna gap-10">
                    <input type="email" name="email" id="" formControlName="email"  placeholder="email@especialista.com">
                    <span *ngIf="submitted && campoNoValido('email')" class="caption color-red">Introduzca su email (username)</span>
                </div>
            </div>

            <div class="columna gap-10 web">
                <label class="option-menu" for="web">Web:</label>
                <div class="columna gap-10">
                    <input type="url" name="web" id="" formControlName="web"  placeholder="www.especialista.com">
                    <span *ngIf="" class="caption color-red">Introduzca la url de su web</span>
                </div>
            </div>


            <div class="columna gap-10 direccion">
                <label class="option-menu" for="direccion">Dirección:</label>
                <div class="columna gap-10">
                    <input type="text" name="direccion" id="" formControlName="direccion"
                        placeholder="Calle del evento, 1" >
                    <span *ngIf="" class="caption color-red">Introduzca su dirección</span>
                </div>
            </div>
            <div class="columna gap-10 poblacion">
                <label class="option-menu" for="poblacion" >Población:</label>
                <div class="columna gap-10">
                    <input type="text" name="localidad"  id="" formControlName="localidad" placeholder="Alameda">
                    <span *ngIf="" class="caption color-red">Introduzca su población</span>
                </div>
            </div>
            <div class="columna gap-10 provincia">
                <label class="option-menu" for="provincia">Provincia:</label>
                <div class="columna gap-10">
                    <input type="text" name="provincia"  id="" formControlName="provincia" placeholder="Málaga">
                    <span *ngIf="" class="caption color-red">Introduzca una provincia</span>
                </div>
            </div>
            <div class="columna gap-10 c-postal">
                <label class="option-menu" for="codigo_postal">C.P.:</label>
                <div class="columna gap-10">
                    <input type="text" name="codigo_postal"  id="" formControlName="codigo_postal" placeholder="29000">
                    <span *ngIf="" class="caption color-red">Introduzca un código postal</span>
                </div>
            </div>
            <div class="columna gap-10 pais">
                <label class="option-menu" for="pais">País:</label>
                <div class="columna gap-10">
                    <input type="text" name="pais"  id="" formControlName="pais" placeholder="Pais">
                    <span *ngIf="" class="caption color-red">Introduzca su pais</span>
                </div>
            </div>

            <div class="columna gap-10 descripcion">
                <label class="option-menu" for="descripcion_terapia">Breve descripción de su especialidad:</label>
                <div class="columna gap-10">
                    <textarea name="descripcion_terapia" id="" rows="7"  formControlName="descripcion_terapia"
                        placeholder="">
                    </textarea>
                    <span *ngIf="submitted && campoNoValido('descripcion_terapia')" class="caption color-red">
                        Indique una descripción de al menos diez caracteres
                    </span>
                </div>
            </div>

            <div class="columna gap-10 instagram">
                <label class="option-menu" for="instagram">Instagram:</label>
                <input type="text" name="instagram" id="" formControlName="instagram">
            </div>
            <div class="columna gap-10 twitter">
                <label class="option-menu" for="twitter">Twitter:</label>
                <input type="text" name="twitter" id="" formControlName="twitter" >
            </div>
            <div class="columna gap-10 facebook">
                <label class="option-menu" for="facebook">Facebook:</label>
                <input type="text" name="facebook" id="" formControlName="facebook" >
            </div>
            <div class="columna gap-10 you_tube">
                <label class="option-menu" for="you_tube">You tube:</label>
                <input type="text" name="you_tube" id="" formControlName="you_tube" >
            </div>

            <div class="img-evento" *ngIf="imgUrl && imgUrl !== ''">
                <img [src]="imgUrl"  [alt]="especialistasService.especialista.nombre">
            </div>

            <div class="columna gap-10 img-input">
                <label class="option-menu" for="imagen_terapeuta">Cambia tu imagen:</label>
                <input type="file" name="imagen_terapeuta" accept="image/*" id="" (change)="cambiarImg($event)"
                   
                    class="custom-file-input"> <!--formControlName="imagen_terapeuta"-->
            </div>

            <div class="columna gap-10 img-video">
                <label class="option-menu" for="file-video">Video:</label>
                <video [src]="especialistasService.especialista.video" autoplay="true"></video>
                <!--<span class="texto-regular">{{especialistasService.especialista.video}}</span>-->
            </div>
            <div class="columna gap-10 img-input">
                <label class="option-menu" for="video">Cambia tu video:</label>
                <input type="file" name="video" id="" formControlName="video" accept="video/mp4,video/x-m4v,video/*" (change)="cambiarVideo($event)"
                    class="custom-file-input">
            </div>


        </div>
        <div class="fila gap-10 botones">
            <button (click)="onModify()" class="boton btn-submit-form" >Aceptar</button>
            <button (click)="onReset()" class="boton btn-cancelar">Cancelar</button>
        </div>
    </form>

    <app-modal-info [mensaje]="mensaje" (onAceptar)="cerrar()" *ngIf="dataServiceModal.showDialog"></app-modal-info>
</div>

<!--./../../../../assets/images/Imagen_no_disponible.svg.png-->