@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Quicksand&family=Roboto&family=Teko&display=swap');

:root {
    --fontSecondary: Roboto, monospace;
    --fontAccent: Cedarville Cursive;
    --fontPrimary: Quicksand;
    --fontOptions: Teko;
    --fsizeXXL: 6rem;
    --fsizeXL: 4rem;
    --fsOptionEncabezado: 2rem;
    --fsOptionMenu: 1.5rem;
    --fsPrimaryTextXL: 1.5rem;
    --fsEncabezado: 1.4rem;
    --fsRegular: 1.1rem;
    --fsCaption: 0.9rem;
    --fsSmall: 0.7rem;

    --primaryColor:#7BACD5;
    --accentColor:#727144;
    --secondaryColor:#C3C8D4;
    --submitColor:#5ac6a6;
    --redColor:#FC0E0E;
    --darkColor:#0a0a0a;
    --lightColor:#f0f0f0;
    --primaryColorHover:#568795;
    --accentColorHover:#9D8B3D;


    
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.title-xxl-accent {
    font-family: var(--fontAccent);
    font-size: var(--fsizeXXL);
    line-height: 144px;
    font-weight: 400;
}

.title-xl-accent {
    font-family: var(--fontAccent);
    font-size: var(--fsizeXL);
    line-height: 96px;
    font-weight: 400;
}


.title-xl-primary {
    font-family: var(--fontPrimary);
    font-size: var(--fsizeXL);
    line-height: 96px;
    font-weight: 400;
}

.sub-title-xxl {
    font-family: var(--fontOptions);
    font-size: var(--fsOptionEncabezado);
    line-height: 36px;
    letter-spacing: 4.8px;
    font-weight: 400;
}

.option-menu {
    font-family: var(--fontOptions);
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 3.6px;
    font-weight: 400;
}

.texto-regular {
    font-family: var(--fontSecondary);
    font-size: var(--fsRegular);
    letter-spacing: 0.32px;
    line-height: 24px;
}

.caption {
    font-family: var(--fontPrimary);
    font-size: var(--fsCaption);
    line-height: 18px;
}

.text-small {
    font-family: var(--fontPrimary);
    font-size: 11px;
    line-height: 16px;
}

.bold {
    font-weight: bold;
}

.box{
    display: flex;
    flex-direction: column;    
    padding: 100px;
}
.gap-20{
    gap: 20px;
}

.boton{
    background-color: transparent;
    border: none;
    width: 85px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
}
.btn-info{
    border: 2px solid var(--primaryColor);
}

.btn-info-solid{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    font-weight: bold;
}
.btn-login{
    border: 2px solid var(--accentColor);
    color: var(--accentColor);
    font-family: var(--fontOptions);
    font-size: var(--fsOptionMenu);
    width: 150px;
    height: 60px;
}

.btn-submit-form{
    background-color: var(--submitColor);
    color: var(--lightColor);
    font-family: var(--fontOptions);
    font-size: var(--fsOptionMenu);
    width: 110px;
    height: 40px;    
}

.btn-borrar{
    border: 2px solid var(--redColor);
    color: var(--redColor);
    font-family: var(--fontOptions);
    font-size: var(--fsOptionMenu);
    width: 110px;
    height: 40px;
}

.btn-small{
    border: 2px solid var(--darkColor);
    color: var(--darkColor);
    font-family: var(--fontPrimary);
    font-size: var(--fsCaption);
    width: 130px;
    height: 22px;
}
