/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Quicksand&family=Roboto&family=Teko&display=swap');

/*variables tipografia*/
$fontSecondary: Roboto, monospace;
$fontAccent: Cedarville Cursive;
$fontPrimary: Quicksand;
$fontOptions: Teko;
$fsizeXXL: 6rem;
$fsizeXL: 4rem;
$fsOptionEncabezado: 2rem;
$fsOptionMenu: 1.3rem;
$fsPrimaryTextXL: 1.5rem;
$fsEncabezado: 1.4rem;

$fsRegular: 1.1rem;
$fsCaption: 0.9rem;
$fsSmall: 0.7rem;
/*variables color*/
$primaryColor: #7BACD5;
$accentColor: #727144;
$secondaryColor: #C3C8D4;

$submitColor: #5ac6a6;
$redColor: #FC0E0E;
$darkColor: #0a0a0a;
$lightColor: #f0f0f0;
$primaryColorHover: #568795;
$accentColorHover: #9D8B3D;

/* clases tipografia*/

.title-xxl-accent {
    font-family: $fontAccent;
    font-size: $fsizeXXL;
    line-height: 144px;
    font-weight: 400;
}

.title-xl-accent {
    font-family: $fontAccent;
    font-size: $fsizeXL;
    line-height: 96px;
    font-weight: 400;
}


.title-xl-primary {
    font-family: $fontPrimary;
    font-size: $fsizeXL;
    line-height: 96px;
    font-weight: 400;
    padding-left: 20px;
}

.color-accent {
    color: $accentColor;
}
.color-red{
    color: $redColor;
}

.sub-title-xxl {
    font-family: $fontOptions;
    font-size: $fsOptionEncabezado;
    line-height: 36px;
    letter-spacing: 4.8px;
    font-weight: 400;
}

.sub-title-xl {
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    line-height: 36px;
    letter-spacing: 4.8px;
    font-weight: 400;
}

.option-menu {
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    line-height: 36px;
    letter-spacing: 3.6px;
    font-weight: 400;
}

.encabezado {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: $fsEncabezado;
    line-height: 28px;
}

.texto-regular {
    font-family: $fontSecondary;
    font-size: $fsRegular;
    letter-spacing: 0.32px;
    line-height: 24px;
}

.caption {
    font-family: $fontPrimary;
    font-size: $fsCaption;
    line-height: 18px;
}

.text-small {
    font-family: $fontPrimary;
    font-size: $fsSmall;
    line-height: 16px;
}

.bold {
    font-weight: bold;
}

.gap-20 {
    gap: 20px;
}
.gap-10 {
    gap: 10px;
}
.boton {
    background-color: transparent;
    border: none;
    width: 85px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.btn-info {
    border: 2px solid $primaryColor;
}

.btn-info-solid {
    background-color: $primaryColor;
    color: var(--lightColor);
    font-weight: bold;
}

.btn-login {
    border: 2px solid $accentColor;
    color: $accentColor;
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    width: 150px;
    height: 60px;
}

.btn-submit-form {
    background-color: $submitColor;
    color: $lightColor;
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    width: 110px;
    height: 40px;
}

.btn-borrar {
    border: 2px solid $redColor;
    color: $redColor;
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    width: 110px;
    height: 40px;
}

.btn-small {
    border: 2px solid $darkColor;
    color: $darkColor;
    font-family: $fontPrimary;
    font-size: $fsCaption;
    width: 130px;
    height: 22px;
}

input[type='text'] {
    border: none;
    border-bottom: 2px solid $accentColor;
    width: 90%;
    padding: 10px;
    font-family: $fontPrimary;
    font-size: $fsRegular;
    outline: none;
}

input [type='email'] {
    outline: none;
}

/*check box*/
input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: $accentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid $accentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $accentColor;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.form-control {
    display: flex;

    align-items: center;
    gap: 10px;
}

input:active {
    outline: none;
    font-family: $fontPrimary;
    color: #727144;
}

/*fin check box*/

/* text area*/
textarea {
    border: 2px solid $accentColor;
    border-radius: 4px;
    outline: none;
    font-family: $fontPrimary;
    font-size: $fsRegular;
    padding: 10px;
}

/*fin text area */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.sr-only {
    display: none;
}


/*pagina principal*/

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    position: relative;
    min-height: 100vh;
}


/*header*/

nav {
    ul {
        display: flex;
        gap: 10px;
        list-style: none;
    }

    li {
        display: inline-block;
        cursor: pointer;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: $accentColor;
    }

    a:hover {
        font-style: italic;
        color: $accentColorHover;
        border-bottom: 4px solid $accentColorHover;
    }
}

.active {
    border-bottom: 4px solid $accentColor;
}

app-header {
    width: 100%;
}


header {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 0px 20px;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, $primaryColor 0%, rgba(255, 255, 255, 1) 80%);
    width: 100%;

    .container-logo {
        img {
            width: 400px;
            height: 400px;
        }
    }

    .container-nav-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $accentColor;
    }
}

/*fin header*/

/* boton plantillas*/
app-boton-plantilla {
    width: 120px;
    height: 120px;
    position: fixed;
    top: 400px;
    right: 50px;
}

.boton-plantilla {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 120px;
    width: 120px;
    height: 120px;
    background-color: $accentColor;
    color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 8px 8px 31px -9px rgba(0, 0, 0, 0.75);
}


/* fin boton plantillas*/

/* banner publicidad lo alternativo*/
app-banner-publicidad {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.publicidad {

    height: 600px;
    border: 2px solid $accentColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* fin banner publicidad*/

/*directorio especialidades*/

.container-title {
    width: 360px;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-title>a {
    color: $lightColor;
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.container-title>a:hover {
    background-color: $primaryColorHover;
}

.container-especialidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2.5px 2.5px 6px 0px rgba(0, 0, 0, 0.75);
}

.container-image {
   
    width: 360px;
    height: 360px;
    img {
        
        width: 360px;
        height: 360px;
        object-fit: cover;
    }
}

app-directorio {
    width: 100%;
    align-items: center;
}

.grid-directorio {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 60px;
    width: 100%;
    margin-top: 60px;
    justify-content: space-around;
    
}

/*fin directorio especialidades*/

/* boton-especilistas*/
app-boton-especialistas {
    width: 360px;
    height: 360px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.boton-especialistas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
    border-radius: 360px;
    border-color: 2px solid $primaryColor;
    background: radial-gradient(circle, rgba(123, 172, 213, 1) 6%, rgba(255, 255, 255, 1) 47%, rgba(2, 0, 36, 1) 83%);
    color: $darkColor;
    text-decoration: none;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
    margin-top: 50px;
}


/*fin boton-especialistas*/

/*footer*/
app-footer {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, $primaryColor 0%, rgba(255, 255, 255, 1) 80%);
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;

}

.box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 50%;
}


.columna {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style-type: none;

        li {

            a {
                text-decoration: none;
                color: $accentColor;
                display: flex;
                gap: 10px;

                span {

                    svg {
                        width: 24px;
                        fill: $accentColor;
                    }
                }
            }

            a:hover {
                color: $accentColorHover;
            }
        }
    }
}


/*fin footer*/

/* página nosotros*/

.box-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.row-nosotros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    width: 60%;
    gap: 100px;

    img {
        width: 250px;
        height: 250px;
        border-radius: 4px;
    }
}

/*fin página nosotros*/

/*página donde*/

app-donde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        align-self: flex-start;
    }
}

.box-donde {

    padding: 70px;
    border: 2px solid $accentColor;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;


}

.box-datos {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .wrapper-img {
        width: 30%;

        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
    }
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}



/*fin página donde*/

/* página contacto*/

app-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        align-self: flex-start;
    }

    .fila{
        display: flex;
        flex-direction: row;
    }
    .end{
        align-self: flex-end;
    }
}

/* fin página de contacto*/