/* You can add global styles to this file, and also import other style files */
@import './assets/scss/reset';
@import './assets/scss/fuentes';
@import './assets/scss/variables';
@import './assets/scss/base';
@import './assets/scss/inputs';
@import './assets/scss/boton_plantilla';
@import './assets/scss/banner_publicidad';
@import './assets/scss/contenedor-eventos';
@import './assets/scss/directorio-especialidades';
@import './assets/scss/clases-tipografia';
@import './assets/scss/footer';
@import './assets/scss/nosotros';
@import './assets/scss/donde';

.bold {
    font-weight: bold;
}

.color-accent {
    color: $accentColor;
}

.color-red {
    color: $redColor;
}

.color-light {
    color: $lightColor;
}

.color-purple{
    color: $primaryColor;
}

.sr-only {
    display: none;
}

.pad-20 {
    padding: 20px;
}

.ocultar {
    visibility: hidden;
}

.active {
    border-bottom: 4px solid $accentColor;
}

.end {
    align-self: flex-end;
}

.center {
    align-self: center;
}

/*pagina principal*/

app-header-responsive,
app-header-no-menu,
app-publicar-evento {
    width: 100%;
}

/*footer*/
app-footer,
app-mis-eventos {
    width: 100%;
}


#cursos-provisional {
    height: 30vh;
}




/* página contacto*/

app-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        align-self: flex-start;
    }
}

#contacto {
    .fila {
        @media (max-width:800px) {
            flex-direction: column;
        }
    }
}





/* fin página de contacto*/

/* página login*/
app-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-login {
    width: 60%;
    padding: 50px;
    border: 2px solid $accentColor;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    margin-bottom: 100px;

    @media (max-width:$breakpoint935) {
        width: 80%;

    }

    @media (max-width:$breakpoint800) {
        padding: 20px;
        width: 90%;

    }

    form {
        width: 100%;
    }

    .fila {
        justify-content: space-between;
        margin-top: 40px;
        align-items: center;

        @media (max-width:$breakpoint935) {}

        a {
            text-decoration: none;
            cursor: pointer;
        }

        a:last-child {
            text-align: end;
        }
    }
}

/*fin página login*/
/* página registro*/
app-registro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        cursor: pointer;
    }
}

.box-registro {
    width: 80%;
    padding: 50px;
    border: 2px solid $accentColor;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    margin-bottom: 100px;

    .terminos {
        align-items: center;
        width: 100%;
        justify-content: space-between;

        span:last-child {
            text-align: end;
        }
    }

    @media (max-width:$breakpoint800) {
        padding: 20px;
        width: 90%;

    }

    form {
        width: 100%;
    }

    .columna {
        width: 100%;

        .fila {
            @media (max-width:$breakpoint800) {
                flex-direction: column;
                gap: 20px;
            }
        }
    }

    .fila {
        justify-content: space-between;
        margin-top: 40px;
        align-items: flex-start;

        span {
            align-self: flex-end;
        }


    }

}

.select-registro select {
    border: none;
    border-bottom: 2px solid $accentColor;
    outline: none;
    width: 90%;
    padding: 8px;
    font-size: 1rem;
    font-family: $fontPrimary;
}

/*fin página registro*/

#modificar-datos-especialista {
    .wrapper-form {
        width: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [end];

        grid-template-rows: auto;
        gap: 20px;
        place-items: center;

        @media (max-width:760px) {
            gap: 10px;
        }

        .columna {
            width: 100%;
        }
    }

    form {
        padding: 0px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width:1080px) {
            padding: 20px;
        }
    }

    input {
        border-color: black;
        width: 100%;

    }


    .box-formulario-evento {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        width: 100%;

        @media (max-width:760px) {
            padding: 10px;
            padding-bottom: 100px;
        }

    }

    .nombre {
        grid-column-start: col2;
        grid-column-end: col4;

        @media (max-width:860px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .apellidos {
        grid-column-start: first;
        grid-column-end: col2;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .actividad {
        grid-column-start: col4;
        grid-column-end: col6;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col4;
        }
    }

    .fecha {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col4;
        }
    }



    .email {
        grid-column-start: first;
        grid-column-end: col3;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .web {
        grid-column-start: col5;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .telefono {
        grid-column-start: col3;
        grid-column-end: col5;

        @media (max-width:860px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: col4;
        }
    }

    .direccion {
        grid-column-start: first;
        grid-column-end: col2;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .poblacion {
        grid-column-start: col2;
        grid-column-end: col4;

        @media (max-width:860px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .provincia {
        grid-column-start: col4;
        grid-column-end: col6;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .c-postal {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .instagram {
        grid-column-start: first;
        grid-column-end: col2;

        @media (max-width:1440px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .twitter {
        grid-column-start: col2;
        grid-column-end: col4;

        @media (max-width:1440px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .facebook {
        grid-column-start: col4;
        grid-column-end: col6;

        @media (max-width:1440px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .you_tube {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:1440px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .descripcion {
        grid-column-start: first;
        grid-column-end: col8;

    }

    .img-input {
        grid-column-start: first;
        grid-column-end: col8;
    }

    .img-evento {
        border: 2px solid black;
        border-radius: 4px;
        min-width: 200px;
        min-height: 200px;
        max-width: 300px;
        max-height: auto;
        grid-column-start: first;
        place-items: start;

        @media (max-width:760px) {
            max-width: 200px;
            max-height: 200px;

        }

        img {
            aspect-ratio: 1;
            width: 100%;
            min-height: 100%;
            object-fit: contain;
        }

    }


    .botones {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;

        @media (max-width:576px) {
            justify-content: center;
        }


    }

    textarea {
        border-color: black;
        width: 100%;
    }

    app-modal-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        inset: 0;
        position: fixed;
    }


    option {
        padding: 4px;
    }

    .select select {
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        font-family: Quicksand;
    }
}

#eliminar-evento {
    .wrapper-form {
        width: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [end];

        grid-template-rows: auto;
        gap: 20px;
        place-items: center;

        @media (max-width:760px) {
            gap: 10px;
        }

        .columna {
            width: 100%;
        }
    }

    form {
        padding: 0px 200px 200px 200px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width:1440px) {
            padding: 0px 130px 130px 130px;
        }

        @media (max-width:1280px) {
            padding: 0px 100px 100px 100px;

        }

        @media (max-width:1180px) {
            padding: 0px 50px 50px 50px;

        }

        @media (max-width:1080px) {
            padding: 0px;
        }
    }

    input {
        border-color: black;
        width: 100%;

    }

    input[type="checkbox"] {
        width: 20%;

    }

    .w-online {
        align-self: flex-end;
        grid-column-start: col8;
        grid-column-end: end;

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col3;
        }
    }


    .box-formulario-evento {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        width: 100%;

        @media (max-width:760px) {
            padding: 10px;
            padding-bottom: 100px;
        }

    }

    .evento {
        grid-column-start: first;
        grid-column-end: col5;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col6;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .fecha {
        grid-column-start: col5;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: col6;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col4;
        }
    }

    .precio {
        grid-column-start: col8;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col2;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: col2;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col2;
        }
    }

    .email {
        grid-column-start: first;
        grid-column-end: col3;

        @media (max-width:860px) {
            grid-column-start: col2;
            grid-column-end: end;
        }

        @media (max-width:760px) {
            grid-column-start: col2;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .web {
        grid-column-start: col3;
        grid-column-end: col6;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .telefono {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: col4;
        }
    }

    .online {
        display: flex;
        align-items: center;
        grid-column-start: end;
        grid-column-end: end;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col6;
        }

        @media (max-width:760px) {
            grid-column-start: col4;
            grid-column-end: col4;
        }
    }

    .direccion {
        grid-column-start: first;
        grid-column-end: col3;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col5;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .poblacion {
        grid-column-start: col3;
        grid-column-end: col6;

        @media (max-width:860px) {
            grid-column-start: col5;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .provincia {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col5;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .c-postal {
        grid-column-start: col8;
        grid-column-end: end;

        @media (max-width:860px) {
            grid-column-start: col5;
            grid-column-end: col8;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .descripcion {
        grid-column-start: first;
        grid-column-end: end;

    }

    .img-input {
        grid-column-start: first;
        grid-column-end: col8;
    }

    .img-evento {
        border: 2px solid black;
        border-radius: 4px;
        min-width: 200px;
        min-height: 200px;
        max-width: 300px;
        max-height: 300px;
        grid-column-start: first;
        grid-column-end: col2;
        place-items: start;

        @media (max-width:760px) {
            max-width: 200px;
            max-height: 200px;
        }

        img {
            aspect-ratio: 1;
            width: 100%;
            min-height: 100%;
            object-fit: cover;


        }
    }

    .pdf {
        grid-column-start: first;
        grid-column-end: col8;
    }

    .botones {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;

        @media (max-width:576px) {
            justify-content: center;
        }


    }

    textarea {
        border-color: black;
        width: 100%;
    }


    app-modal-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        inset: 0;
        position: fixed;
    }


}

#modificar-evento {
    .wrapper-form {
        width: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [end];

        grid-template-rows: auto;
        gap: 20px;
        place-items: center;

        @media (max-width:760px) {
            gap: 10px;
        }

        .columna {
            width: 100%;
        }
    }

    form {
        padding: 0px 200px 200px 200px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width:1440px) {
            padding: 0px 130px 130px 130px;
        }

        @media (max-width:1280px) {
            padding: 0px 100px 100px 100px;

        }

        @media (max-width:1180px) {
            padding: 0px 50px 50px 50px;

        }

        @media (max-width:1080px) {
            padding: 0px;
        }
    }

    input {
        border-color: black;
        width: 100%;

    }

    input[type="checkbox"] {
        width: 20%;

    }

    .w-online {
        align-self: flex-end;
        grid-column-start: col8;
        grid-column-end: end;

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col3;
        }
    }


    .box-formulario-evento {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        width: 100%;

        @media (max-width:760px) {
            padding: 10px;
            padding-bottom: 100px;
        }

    }

    .evento {
        grid-column-start: first;
        grid-column-end: col5;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col6;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .fecha {
        grid-column-start: col5;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: col6;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col4;
        }
    }

    .precio {
        grid-column-start: col8;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col2;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: col2;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col2;
        }
    }

    .email {
        grid-column-start: first;
        grid-column-end: col3;

        @media (max-width:860px) {
            grid-column-start: col2;
            grid-column-end: end;
        }

        @media (max-width:760px) {
            grid-column-start: col2;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .web {
        grid-column-start: col3;
        grid-column-end: col6;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .telefono {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: col4;
        }
    }

    .online {
        display: flex;
        align-items: center;
        grid-column-start: end;
        grid-column-end: end;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col6;
        }

        @media (max-width:760px) {
            grid-column-start: col4;
            grid-column-end: col4;
        }
    }

    .direccion {
        grid-column-start: first;
        grid-column-end: col3;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col5;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .poblacion {
        grid-column-start: col3;
        grid-column-end: col6;

        @media (max-width:860px) {
            grid-column-start: col5;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .provincia {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col5;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .c-postal {
        grid-column-start: col8;
        grid-column-end: end;

        @media (max-width:860px) {
            grid-column-start: col5;
            grid-column-end: col8;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .descripcion {
        grid-column-start: first;
        grid-column-end: end;

    }

    .img-input {
        grid-column-start: first;
        grid-column-end: col8;
    }

    .img-evento {
        border: 2px solid black;
        border-radius: 4px;
        min-width: 200px;
        min-height: 200px;
        max-width: 300px;
        max-height: auto;
        grid-column-start: first;

        place-items: start;

        @media (max-width:760px) {
            max-width: 200px;
            max-height: 200px;

        }


        img {
            aspect-ratio: 1;
            width: 100%;
            min-height: 100%;
            object-fit: contain;
        }


    }

    .pdf {
        grid-column-start: first;
        grid-column-end: col8;
    }

    .botones {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;

        @media (max-width:576px) {
            justify-content: center;
        }


    }

    textarea {
        border-color: black;
        width: 100%;
    }

    app-modal-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        inset: 0;
        position: fixed;
    }



}

#publicar-evento {
    .wrapper-form {
        width: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [end];

        grid-template-rows: auto;
        gap: 20px;
        place-items: center;

        @media (max-width:760px) {
            gap: 10px;
        }

        .columna {
            width: 100%;
        }
    }

    form {
        padding: 0px 200px 200px 200px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width:1440px) {
            padding: 0px 130px 130px 130px;
        }

        @media (max-width:1280px) {
            padding: 0px 100px 100px 100px;

        }

        @media (max-width:1180px) {
            padding: 0px 50px 50px 50px;

        }

        @media (max-width:1080px) {
            padding: 0px;
        }
    }

    input {
        border-color: black;
        width: 100%;

    }

    input[type="checkbox"] {
        width: 20%;

    }

    .w-online {
        align-self: flex-end;
        grid-column-start: col8;
        grid-column-end: end;

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col3;
        }
    }


    .box-formulario-evento {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        width: 100%;

        @media (max-width:760px) {
            padding: 10px;
            padding-bottom: 100px;
        }

    }

    .evento {
        grid-column-start: first;
        grid-column-end: col5;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col6;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .fecha {
        grid-column-start: col5;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: col6;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col4;
        }
    }

    .precio {
        grid-column-start: col8;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col2;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: col2;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col2;
        }
    }

    .email {
        grid-column-start: first;
        grid-column-end: col3;

        @media (max-width:860px) {
            grid-column-start: col2;
            grid-column-end: end;
        }

        @media (max-width:760px) {
            grid-column-start: col2;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .web {
        grid-column-start: col3;
        grid-column-end: col6;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .telefono {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:760px) {
            grid-column-start: first;
            grid-column-end: col4;
        }
    }

    .online {
        display: flex;
        align-items: center;
        grid-column-start: end;
        grid-column-end: end;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col6;
        }

        @media (max-width:760px) {
            grid-column-start: col4;
            grid-column-end: col4;
        }
    }

    .direccion {
        grid-column-start: first;
        grid-column-end: col3;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col5;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .poblacion {
        grid-column-start: col3;
        grid-column-end: col6;

        @media (max-width:860px) {
            grid-column-start: col5;
            grid-column-end: end;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .provincia {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:860px) {
            grid-column-start: first;
            grid-column-end: col5;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .c-postal {
        grid-column-start: col8;
        grid-column-end: end;

        @media (max-width:860px) {
            grid-column-start: col5;
            grid-column-end: col8;
        }

        @media (max-width:576px) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .descripcion {
        grid-column-start: first;
        grid-column-end: end;

    }

    .img-input {
        grid-column-start: first;
        grid-column-end: col8;
    }

    .img-evento {
        border: 2px solid black;
        border-radius: 4px;
        min-width: 200px;
        min-height: 200px;
        max-width: 300px;
        max-height: 300px;
        grid-column-start: first;
        grid-column-end: col2;
        place-items: start;

        @media (max-width:760px) {
            max-width: 200px;
            max-height: 200px;
        }

        img {
            aspect-ratio: 1;
            width: 100%;
            min-height: 100%;
            object-fit: contain;
        }
    }

    .pdf {
        grid-column-start: first;
        grid-column-end: col8;
    }

    .botones {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;

        @media (max-width:576px) {
            justify-content: center;
        }


    }

    textarea {
        border-color: black;
        width: 100%;
    }



    app-modal-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        inset: 0;
        position: fixed;
    }

}