/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Quicksand&family=Roboto&family=Teko&display=swap');

/*variables tipografia*/
$fontSecondary: Roboto, monospace;
$fontAccent: Cedarville Cursive;
$fontPrimary: Quicksand;
$fontOptions: Teko;
$fsizeXXL: 6rem;
$fsizeXL: 4rem;
$fsOptionEncabezado: 2rem;
$fsOptionMenu: 1.3rem;
$fsPrimaryTextXL: 1.5rem;
$fsEncabezado: 1.4rem;

$fsRegular: 1.1rem;
$fsCaption: 0.9rem;
$fsSmall: 0.7rem;
/*variables color*/
$primaryColor: #7BACD5;
$accentColor: #727144;
$secondaryColor: #C3C8D4;

$submitColor: #5ac6a6;
$redColor: #FC0E0E;
$darkColor: #0a0a0a;
$lightColor: #f0f0f0;
$primaryColorHover: #568795;
$accentColorHover: #9D8B3D;

/* clases tipografia*/

.title-xxl-accent {
    font-family: $fontAccent;
    font-size: $fsizeXXL;
    line-height: 144px;
    font-weight: 400;
}

.title-xl-accent {
    font-family: $fontAccent;
    font-size: $fsizeXL;
    line-height: 96px;
    font-weight: 400;
}


.title-xl-primary {
    font-family: $fontPrimary;
    font-size: $fsizeXL;
    line-height: 96px;
    font-weight: 400;
    padding-left: 20px;
}
.color-accent{
    color: $accentColor;
}
.sub-title-xxl {
    font-family: $fontOptions;
    font-size: $fsOptionEncabezado;
    line-height: 36px;
    letter-spacing: 4.8px;
    font-weight: 400;
}
.sub-title-xl {
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    line-height: 36px;
    letter-spacing: 4.8px;
    font-weight: 400;
}

.option-menu {
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    line-height: 36px;
    letter-spacing: 3.6px;
    font-weight: 400;
}

.texto-regular {
    font-family: $fontSecondary;
    font-size: $fsRegular;
    letter-spacing: 0.32px;
    line-height: 24px;
}

.caption {
    font-family: $fontPrimary;
    font-size: $fsCaption;
    line-height: 18px;
}

.text-small {
    font-family: $fontPrimary;
    font-size: $fsSmall;
    line-height: 16px;
}

.bold {
    font-weight: bold;
}

.gap-20{
    gap: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}




app-root {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;

}



/*pagina principal*/

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}


/*header*/

nav {
    ul {
        display: flex;
        gap: 10px;
        list-style: none;
    }

    li {
        display: inline-block;
        cursor: pointer;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;        
        color: $accentColor;
    }

    a:hover {
        font-style: italic;
        color: $accentColorHover;
        border-bottom: 4px solid $accentColorHover;
    }
}

.active {
    border-bottom: 4px solid $accentColor;
}

app-header {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, $primaryColor 0%, rgba(255, 255, 255, 1) 50%);
    width: 100%;

    .container-logo {
        img {
            width: 400px;
            height: 400px;
        }
    }

    .container-nav-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $accentColor;       
    }
}

/*fin header*/

/* boton plantillas*/
app-boton-plantillas {
    width: 120px;
    height: 120px;
    position: fixed;
    top: 400px;
    left: 50px;
}

.boton-plantilla {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 120px;
    width: 120px;
    height: 120px;
    background-color: $accentColor;
    color: white;
    text-decoration: none;   
    cursor: pointer;
    box-shadow: 8px 8px 31px -9px rgba(0, 0, 0, 0.75);
}


/* fin boton plantillas*/

/* banner publicidad lo alternativo*/
app-banner-publicidad {
    width: 100%;
    padding: 20px;
}

.publicidad {
    width: 100%;
    height: 600px;
    border: 2px solid $accentColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fin banner publicidad*/

/*directorio especialidades*/

.container-title {
    width: 250px;
    height: 70px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-title>a {
    color: $lightColor;

    text-decoration: none;
}

.container-especialidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-image {
    width: 250px;
    height: 250px;

    img {
        width: 250px;
        height: 250px;
        object-fit: contain;
    }
}


.grid-directorio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    width: 100%;
    margin-top: 60px;

}
/*fin directorio especialidades*/

/* boton-especilistas*/
app-boton-especialistas {
    width: 360px;
    height: 360px;
    align-self: center;
    margin-top: 150px;
    margin-bottom: 30px;

}
.boton-especialistas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
    border-radius: 360px;
    border-color: 2px solid $primaryColor;
    background: radial-gradient(circle, rgba(123,172,213,1) 6%, rgba(255,255,255,1) 47%, rgba(2,0,36,1) 83%);    color: #5495C0;
    text-decoration: none;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
}


/*fin boton-especialistas*/

/*footer*/

    footer{        
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, $primaryColor 0%, rgba(255, 255, 255, 1) 50%);
        padding: 20px;
        padding-top: 300px;
        padding-bottom: 100px;        
    }
    .box{
        display: flex;
        flex-direction: row;
        align-items: flex-start;  
        justify-content: space-around; 
        width: 50%;     
    }
    .columna{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        ul{
            display: flex;
            flex-direction: column;
            gap: 5px;
            list-style-type: none;
            li{
                
                a{
                    text-decoration: none;
                    color: $accentColor;
                    display: flex;                    
                    gap: 10px;
                    span{
                        
                        svg{
                            width: 24px;
                            fill: $accentColor;
                        }
                    }
                }
                a:hover{
                    color: $accentColorHover;
                }
            }
        }
    }


/*fin footer*/