<app-header></app-header>
<app-boton-plantilla></app-boton-plantilla>
<h3 class="title-xl-primary color-accent">Donde estamos</h3>
<div class="box-donde color-accent">

    <div class="box-datos ">
        <div class="data">
            <span class="encabezado ">Dirección:</span>
            <span class="texto-regular">3891 Ranchview Dr. Richardson</span>
            <span class="texto-regular">California 62639</span>
        </div>
        <div class="data">
            <span class="encabezado ">Teléfono:</span>
            <span class="texto-regular">952123456</span>
        </div>
        <div class="data">
            <span class="encabezado ">Email:</span>
            <span class="texto-regular">loalternativo@loalternativo.es</span>
        </div>
    </div>
    <div class="box-datos">
        <div class="data">
            <span class="encabezado ">Instagram:</span>
            <span class="texto-regular">@loalternativo</span>
        </div>
        <div class="data">
            <span class="encabezado ">Facebook:</span>
            <span class="texto-regular">LöAlternativo</span>
        </div>
        <div class="data">
            <span class="encabezado ">Youtube:</span>
            <span class="texto-regular">LöAlternativo</span>
        </div>
    </div>
    <div class="box-datos">
        <div class="wrapper-img">
            <img src="./../../../../assets/images/donde/Captura.PNG" alt="imagen donde estamos">    
        </div>
        
    </div>

</div>

<app-footer></app-footer>