<div #cajaEvento class="box-evento">

    <div class="title">
        <h4 class="encabezado color-light">{{evento.evento}}</h4>
        <h5 class="option-menu color-light">{{evento.Especialista.nombre}} {{evento.Especialista.apellidos}}</h5>

    </div>

    <div class="box-content">

        <div class="info-evento">
            <a class="boton btn-info color-light" [href]="evento.pdf" target="_blank">Descargable</a>
            <span class="texto-regular bold color-light">{{evento.fecha}}</span>
            <span class="texto-regular bold color-light">{{evento.precio|euros  }}</span>
            <div class="fila">
                <button class="boton btn-info color-light" (click)="onMasInfo()">más info</button>
                <span class="texto-regular bold color-light">{{evento.localidad|localizacion}}</span>
                
            </div>
            
        </div>
        
    </div>



</div>

<app-modal-email *ngIf="mostrarModalEmail" (close)="cerrarModalEmail($event)"></app-modal-email>